@font-face {
	font-family: 'NexaLight';
	src: url('../fonts/nexa-light-webfont.ttf')format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: 'NexaBold';
	src: url('../fonts/Nexa-Bold.otf')format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'FeltTip';
	src: url('../fonts/Felt_Tip_Woman.ttf')format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/**********HEADER**********/

header {
	background: url(../img/background.png);
	background-position: center center; 
	background-size: cover; 
	background-repeat: no-repeat;
	min-height: 600px;
	padding-bottom: 30px;
}

.menu nav {
	padding: 20px;
	border-bottom: 1px solid white;
	text-align: center;
}

.menu nav a {
	color: white;
	font-size: 16px;
	font-family: 'NexaLight', arial;
	padding: 15px;
	text-transform: uppercase;
}

.slogan {text-align: center;}

.slogan img {
	margin-top: 50px;
	max-width: 23%;
}

.slogan h2{
	color: white;
	font-size: 30px;
	font-family: 'NexaLight', arial;
	font-weight: 400;
}

.slogan h2 span {
	font-family: 'NexaBold', arial;
}

.scroll-down {
	color: white;
	font-family: 'NexaLight', arial;
	font-size: 20px;
	margin-top: 80px;
	text-align: center;
	cursor: pointer;
}

.scroll-down p {margin: 5px;}

/**********HEADER END**********/

/**********MAIN*********/

/****About-Me****/

.about-menu nav {border-bottom: 1px solid black;}

.about-menu nav a {color: black;}

.about-info {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.about-info img {
	max-width: 40%;
}

.info-right {
	padding: 0 40px;
	max-width: 50%;
}

.info-right h2 {
	font-family: 'NexaLight', arial;
	font-weight: 400;
	font-size: 50px;
	margin-bottom: 45pt;
	text-transform: uppercase;
}

.info-right p {
	font-family: 'Open Sans', arial;
	font-size: 12pt;
	font-weight: 300;
}

.info-right .signature {
	font-family: 'FeltTip', arial;
	font-size: 20pt;
	margin-top: 50px;
}

.about-scroll {
	font-size: 17px;
	color: #c6c6c6;
	cursor: pointer;
	text-align: center;
	font-family: 'NexaBold', arial;
}

.about-scroll i {
	font-size: 25px;
}

/****About-Me END****/

/****Portfolio****/

.portfolio {
	background: url(../img/background2.png);
	background-position: center center; 
	background-size: cover; 
	background-repeat: no-repeat;
	min-height: 400px;
}

.portfolio h2 {
	font-family: 'NexaLight', arial;
	font-weight: 400;
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.works-top,
.works-bottom {
	display: flex;
}

.works-top {
	margin-bottom: 30px;
}

.portfolio img {
	margin: 0 20px;
	cursor: pointer;
	background-color: black; 
}

.scroll-portfolio {
	text-align: center;
	font-family: 'NexaLight', arial;
	color: white;
	font-size: 17px;
	margin-top: 30px;
	cursor: pointer;
}

.scroll-portfolio p {
	padding: 10px 0;
	margin: 0;
}
/****Portfolio END****/

/****Contacts****/

.contacts {
	text-align: center;
	padding: 0 20px 20px 20px;
}

.contacts p {
	font-family: 'NexaBold', arial;
	font-size: 25px;
}

.contacts span {
	font-size: 45px;
	font-family: 'NexaLight', arial;
}

.social-networks {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.contacts p {
	margin: 15px 0;
}

.social-links {
	font-size: 25px;
	margin: 10px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	border: 1px solid black;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.social-links i {
	transform: translateY(17%);
}

/****Contacts END****/


/**********MAIN END*********/


/**********FOOTER*********/

/**********FOOTER END*********/
