
body {
	margin: 0;
	padding: 0;
	height:100%;
}

.container {
	max-width:1360px;
}

header {
	background: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 60%; 
  min-height:500px;
}

nav { 
	background: rgba(0, 0, 000, 0.5);
	width: 100%;
	position: fixed;
	z-index: 11;
}

nav ul {
	display: flex;
	flex-direction: row-reverse;
  flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-right: 40px;
}

nav li {
	padding: 13px;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-family:manu;
	font-size:25px;
	text-transform:uppercase;

}

nav li:hover {
    background:#fed136;
    color:#000;
    transition:0.8s;
}

nav li :not(:hover) {
	transition:0.8s;
}

nav a:hover {
    color:#000;
    transition:0.8s;
}

.button {
  background:rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  width: 200px;
  height:20px;
  padding:20px 0;
  margin: 0 auto;
  font-family:DISCO;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border:2px solid black;
  margin-top:40px;
}

h1 {
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top:185px;
	font-family:DISCO;
	width:400px;
	margin: auto;
}

.button:hover  {
    background:#fed136;
    color:#000;
    transition:0.8s;
}

.button:not(:hover) {
	transition:0.8s;
}

.Row {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
  padding: 30px;
}

.item {
  margin: 20px 20px;
	max-width:200px;
	text-align: center;
}

.item h3 {
	align-items:center;
	text-transform:uppercase;
	font-family:DISCO;
}

.box1 {
  background: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%; 
  width:100%;
  min-height:400px;
}

.title_first {
	background: rgba(0,0,0,0.5);
	opacity: 0;
	font-family:DISCO;
	font-size:40px; 
	color: #fff;
	min-height:400px;
}

.title_first p {
	text-align:center;
  margin: 0;
	padding-top:100px;
}

.box1:hover .title_first {
	opacity: 7;
	transition: 0.7s;
}

.box1:not(:hover) .title_first {
	transition: 0.7s;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:30px;
  margin:0px;
}

.skill {
  border-radius: 100%;
  background: #e2e2e2;
  margin: 20px 30px;
  cursor: pointer;
}

.skill i {
  height: 70px;
  width: 100px;
  font-size: 45px;
  text-align:center;
  margin-top:20px;
}

.skill:hover {
    background:#c10c00;
    transition:0.8s;
    border-radius: 100%;
    color:#fff;
}

.skill:not(:hover) {
  transition:0.8s;
}

.pimg1, .pimg2, .pimg3 {
  position:relative;
  opacity:0.85;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1 {
  background-image:url(../img/computer-472016_1280.jpg);
  min-height:100%;
}

.pimg2 {
  background-image:url(../img/computer-472016_1280.jpg);
  min-height:200px;
}

.pimg3 {
  background-image:url(../img/computer-472016_1280.jpg);
  min-height:200px;
}

.section-dark {
	text-align:center;
	padding:10px 30px;
	background:#fff;
}

.section-dark p {
  font-family:Lato;
  font-size:25px;
}

.section-dark h2 {
  font-family:Lato;
  font-weight: bold;
}

.slider {
  color: #444;
  line-height: 1.5;
  padding-top:450px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 22px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  justify-content:center;
  -webkit-appearance: none;
   -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
          animation: check 0.5s linear forwards;
          left:0px;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

.slider__inner {
  position: absolute;
  top: 30px;
  left:0px;
  width: 150%;
  height: 100%;
  transition: all 1s ease-out;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.contant {
  padding:20px 0px 45px 0px;
}

.box-1 p {
  font-size:13px;
  font-family:Lato;
  width:800px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.pimg4, .pimg5, .pimg6 {
  position:relative;
  opacity:0.8;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg4 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:0px;
}

.pimg5 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:100px;
}

.pimg6 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:200px;
}

.border a {
  color: #fff;
  display: block;
  width: 200px;
  height:20px;
  padding: 20px 0;
  margin: 0 auto;
  font-family:Lato;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border:2px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.border a:hover {
    background:#fed136;
    color:#000;
    transition:0.8s;
    border: 2px solid black;
}

.border a:not(:hover) {
  transition:0.8s;
}

.Stat {
  display: flex;
}

.box-4 {
  flex:3;
  order:2;
}

.box-4 p {
  font-weight:bold;
  padding-top:50px;
  font-size:13px;
  font-family:Lato;
  text-align: left;
  margin-top:50px;
  width:80%;
}

.box-5 {
  flex:1;
  order:0.5;
  margin: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.box-5:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}

.box-5:not(:hover) {
  transition: 0.7s;
}

.Stat1 {
  display: flex;
}

.box-6 {
  flex:1;
  order:2;
}

.box-6 p {
  padding-top:50px;
  font-size:13px;
  font-family:Lato;
  text-align: left;
  margin-top:10px;
  font-weight:bold;
  width:80%;
}

.box-7 {
  flex:3;
  order:2;
  margin:0px 50px 0px 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.box-7:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}

.box-7:not(:hover) {
  transition: 0.7s;
}

.Stat2 {
  display: flex;
}

.box-8 {
  flex:1;
  order:2;
}

.box-8 p {
  padding-top:50px;
  font-size:12px;
  font-family:Lato;
  text-align: left;
  margin-top:50px;
  font-weight: bold;
  width:80%;
}

.box-9 {
  flex:3;
  order:2;
  margin: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5)
}

.box-9:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.8s;
}

.box-9:not(:hover) {
  transition: 0.7s;
}

.pimg7, .pimg8, .pimg9 {
  position:relative;
  opacity:0.8;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg7 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:100px;
}

.pimg8 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:100px;
}

.pimg9 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:100px;
}

.border {
  color: #fff;
  display: block;
  width:750px;
  height:20px;
  margin: auto;
  font-family:Lato;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.co {
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.co a {
  display: block;
  padding:20px;
  background:#e2e2e2;
  margin:0px 20px 50px 20px;
  width:50px;
  height: 50px;
  text-align: center;
  color:#000;
}

.co i {
  font-size: 45px;
}

.co a:hover {
  background:#c10c00;
  transition:0.8s;
  color:#fff;
}

.co a:not(:hover) {
  transition:0.8s;
}

.pimg10, .pimg11, .pimg12 {
  position:relative;
  opacity:0.8;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg10 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:100%;
}

.pimg11 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:200px;
}

.pimg12 {
  background-image:url(../img/1junction-984045_1280.jpg);
  min-height:200px;
}

.border1 {
  color: #fff;
  display: block;
  width:750px;
  height:20px;
  margin: auto;
  font-family:Lato;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.trans {
  color: #fff;
  display: block;
  width:750px;
  height:20px;
  margin: auto;
  font-family:Lato;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

/* ANIMATE */

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* MEDIA */

@media(max-width:150px) {
  .pimg4, .pimg5, .pimg6 {
    background-attachment:scroll;
  }
}

@media(max-width:150px){
  .pimg7, .pimg8, .pimg9{
  background-attachment:scroll;
  }
}

@media(max-width:150px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment:scroll;
  }
}