@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-B.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700;
} 
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-BI.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 700;
} 
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-M.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600; 
}
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-MI.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 600; 
}
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-RI.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 400; 
}
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-L.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300;
} 
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu-LI.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 300;
} 