$main-color: #317ae1;
$dark-blue: #1c61c3;
$gray: #666666;
$light-gray: #f4f7fc;
$text-gray: #111111;
$footer-gray: #eef1f6;

//Fonts
$fonts: "Montserrat", "Open Sans", "Roboto", arial, serif;
$open-sans: "Open Sans", "Montserrat", "Roboto", arial, serif;