//COLORS
$brown:              #cf8517;
$dark-gray:          #565656;
$gray:               #929291;
$light-gray:         #f6f6f6;
$catalog-gray:       #fbfbfb;
$numbers-gray:       #ececec;
$text-gray:          #7a7a7a;
$footer-gray:        #474747;
$input-gray:         #f2f2f2;
$border-gray:        #e5e5e5;

//FONTS
$bebas: "Bebas Neue", "Open Sans", arial, sans-serif;
$proxima: "Proxima Nova", "BebasNeue", "Open Sans", sans-serif;