$main-color: #e41e25
$fonts: 'Proxima Nova', 'Open Sans', serif

//Reset
@import "reset.min.scss"
	
body,
html
	margin: 0
	padding: 0
	height: 100%
	font-family: $fonts

.wrapper
	min-height: 100%
	padding-bottom: 298px

*
	box-sizing: border-box

.wrap
	max-width: 1200px
	margin: 0 auto

/****HEADER****/
.head
	padding-top: 20px

.flex-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center

.logo-name
	display: flex
	align-items: center

.logo
	max-width: 80px
	align-self: center

.name-company
	padding-left: 20px
	p
		margin: 0
		padding: 0

.great-people
	font-family: $fonts
	color: #e31e24
	font-weight: 800
	font-size: 25px
	padding: 0
	margin-bottom: 5px
	sup
		color: #000

.head-discounts
	font-size: 13px

.header-contacts
	display: flex
	align-items: center
	font-family: $fonts


.header-contacts-img
	background: url(../img/headphones.jpg)
	background-position: center center
	background-size: contain
	min-width: 50px
	min-height: 50px

.header-contacts-numbers
	padding-left: 20px 
	.order-call
		font-size: 14px
		margin-left: 13px
		color: $main-color
		&:hover
			text-decoration: none
	.phones
		margin-bottom: 8px
		font-weight: 800
		display: block
		color: #000
		font-size: 20px
		text-decoration: none
		span
			color: $main-color
			font-weight: 900


.header-callback
	text-align: center
	a
		color: #a1a1a1
		text-decoration: none
		font-size: 14px
		display: inline-block
	i
		color: $main-color
	.header-callback-inp
		display: block
		background: $main-color
		color: white
		font-weight: 700
		font-size: 14px
		padding: 15px 15px
		border: 1px solid $main-color
		margin-top: 15px
		outline: none
		font-family: $fonts
		&:hover
			background: rgba(0, 0, 0, 0)
			color: #000
			transition: 0.3s

//Top Menu

.top-menu
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	background: #000
	margin-top: 30px

.item-menu
	display: flex
	align-items: center
	a
		text-decoration: none
		outline: none
		color: #fff
		font-weight: 500
		padding: 23px 30px
		font-size: 16px
		display: block
		position: relative
		&:nth-child(1)::after
			content: ''
			display: inline-block
			position: absolute
			width: 1px
			height: 50%
			background-color: #4c4c4c
			right: 0
			top: 50%
			transform: translateY(-50%)			
		&:nth-child(2)::after
			content: ''
			display: inline-block
			position: absolute
			width: 1px
			height: 50%
			background-color: #4c4c4c
			right: 0
			top: 50%
			transform: translateY(-50%)
		&:hover
			color: #cf0006
			transition: 0.3s
	span
		margin: 0 10px
		color: white

//Item-menu-mobile

.item-menu-mobile
	display: none
	text-align: center
	a
		display: block
		text-decoration: none
		outline: none
		color: white
		font-weight: bold
		padding: 10px 0

//Item-menu-mobile END

.header-search-form
	position: relative
	button
		border: none
		outline: none
		background: #000
		cursor: pointer
		padding: 0
		min-height: 62px
		min-width: 60px
		&:hover i
			transition: 0.3s
			color: white
	i
		color: $main-color
		font-size: 17px
	&:before
		content: ''
		display: inline
		position: absolute
		z-index: 2
		left: 0
		width: 2px
		height: 60%
		background: #4c4c4c
		top: 50%
		transform: translateY(-50%)

.search-inp
	border: none 
	color: white
	background: #000
	padding: 10px 10px
	outline: none 
	height: 60px
	font-family: $fonts
	font-size: 14px
	width: 200px
	&::-webkit-input-placeholder
		color: #868585
	&:-moz-placeholder
		color: #868585
	&::-moz-placeholder
		color: #868585
	&:-ms-input-placeholder
		color: #868585



/****HEADER END****/
/****MAIN****/

.personal-card
	background: #cf0006
	overflow: hidden
	min-height: 400px
	padding: 20px
	position: relative

.personal-card-img
	background: url(../img/301.png)
	background-position: center center
	background-size: cover
	min-height: 500px
	min-width: 700px
	position: absolute
	right: 20px
	top: -80px

.flex-personal-card
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
	min-height: 400px

.personal-card-left
	z-index: 2
	.personal-card-h
		color: white
		font-size: 40px
		margin: 0
		font-weight: 800
		line-height: 50px
		text-transform: uppercase
	p
		color: white
		margin: 30px 0
	a
		text-decoration: none
		color: #000
		display: inline-block
		background: white
		padding: 15px 30px
		font-weight: 500
		font-size: 16px
		outline: none
		border: 1px solid #fff
		font-weight: bold
		&:hover
			background: rgba(0, 0, 0, 0)
			transition: 0.3s
			color: #fff

//Card Operation

.card-operation
	background: url(../img/background-card.png)
	padding: 100px 20px
	background-repeat: no-repeat
	background-position: center center

.card-operation-img
	background: url(../img/cards.png)
	background-size: cover
	background-position: center center
	min-width: 400px
	min-height: 300px

.card-operation-right
	padding-left: 80px
	h1
		font-weight: 800
		text-transform: uppercase
		font-size: 24px
	p
		font-size: 14px
		margin-bottom: 20px
		line-height: 20px
	hr
		margin: 30px 0

.flex-card
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center

//Advantages

.advantages
	font-family: $fonts
	text-align: center
	padding: 20px 20px 70px 20px
	hr
		margin-top: 20px
	.advantages-h
		font-weight: 800
		text-transform: uppercase
		font-size: 24px

.flex-advanteges
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	padding-top: 40px

.advantages-item
	p
		font-size: 16px
		line-height: 20px
		margin-top: 10px

.advantages-icon
	min-width: 100px
	min-height: 100px
	background-position: center center
	background-size: cover

.advantages-list-img
	background: url(../img/list.png)
	background-repeat: no-repeat
	background-position: center center

.advantages-parther-img
	background: url(../img/partner.png)
	background-repeat: no-repeat
	background-position: center center

.advantages-company-img
	background: url(../img/company-bel.png)
	background-repeat: no-repeat
	background-position: center center

//Organizations

.organizations
	text-align: center
	padding: 30px 0
	text-align: center
	hr
		margin: 30px auto

.organizations-h
	font-weight: 800
	font-size: 24px

.flex-organizations
	display: flex
	justify-content: center
	flex-wrap: wrap
	margin: 0 auto
	background: #f3f3f3
	padding: 30px 0
	
.col-organizations
	display: flex
	flex-direction: column
	border-right: 1px solid #a8a8a8
	&:last-child
		border: none

.organizations-item
	text-align: center
	margin: 0
	display: flex
	justify-content: center
	position: relative
	align-items: center
	text-decoration: none
	z-index: 2
	outline: none
	color: #000
	min-height: 120px
	min-width: 220px
	&::after
		content: ''
		width: 90%
		height: 1px
		position: absolute
		top: 100%
		left: 50%
		transform: translateX(-50%)
		display: inline-block
		background: #a8a8a8
	&:last-child::after
		display: none
	&:hover
		transition: 0.3s
		transform: scale(1.1)
		background: #cf0006
		color: white
	&:not(:hover)
		transition: 0.2s
	img
		margin-right: 20px
	p
		text-align: left
		font-size: 15px

.no-organization:hover
	transition: none
	transform: none
	cursor: default
	background: none

.search-company
	background: rgba(0, 0, 0, 0)
	border: 1px solid #cf0006
	color: #cf0006
	font-weight: 600
	display: inline-block
	padding: 18px 45px
	font-size: 14px
	margin-top: 40px
	text-decoration: none
	&:hover
		transition: 0.3s
		background: #cf0006
		color: #fff

//Map
	iframe
		display: block

/****MAIN END****/

/****FOOTER****/
footer
	background: #000
	padding: 70px 20px
	min-height: 298px
	margin-top: -298px

.flex-footer
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center

.copy-footer
	p
		color: #646566
		font-size: 13px
		margin: 30px 0

.sub-info-footer
	p
		margin-bottom: 25px
	a
		color: #fff
		font-size: 15px
		&:hover
			text-decoration: none

.our-company-icon
	display: inline-block
	min-height: 25px
	min-width: 25px
	background: url(../img/our-logo.png)
	background-position: cneter center
	margin-bottom: -7px
	margin-right: 5px

.our-company
	text-decoration: none
	color: #646566
	margin-left: 15px


.social-links
	a
		text-decoration: none
		outline: none
	i
		color: #fff
		font-size: 23px
		margin: 0 15px
		&:hover
			color: #cf0006
			transition: 0.3s

.footer-phones
	text-align: center
	.phones
		color: #fff
		display: block
		font-size: 16px
		font-weight: 700
		text-decoration: none
		margin-bottom: 20px
	.footer-phone
		margin-left: -10px
	i
		color: #cf0006
		margin-right: 15px
	a
		color: #cf0006
		font-size: 12px
		display: inline-block
		margin-top: 15px
		&:hover
			text-decoration: none

.footer-conect
	text-align: left
	.email,
	.mirol
		display: block
		color: #fff
		font-size: 16px
		text-decoration: none
		margin-bottom: 20px
		font-weight: 500
	i
		color: #cf0006
		margin-right: 15px
	.send-message
		color: #cf0006
		font-size: 12px
		padding-left: 30px
		display: inline-block
		margin-top: 15px
		&:hover
			text-decoration: none
/****FOOTER END****/

/**** MODAL WINDOWS ****/

.modal-background
	position: fixed
	height: 100%
	width: 100%
	z-index: 20
	background: rgba(0, 0, 0, 0.4)

.window-registration
	position: absolute
	top: 50%
	left: 50%
	transform: translateX(-50%)translateY(-50%)
	z-index: 30
	background: #fff

/**** MODAL WINDOWS END****/

/*FONTS*/

@media screen and (max-width: 1105px)
	.organizations-item
		min-height: 100px
		min-width: 200px

	.personal-card-img
		min-width: 500px
		min-height: 450px
		top: 0
		right: 0
@media screen and (max-width: 1005px)
	.head-discounts
		display: none

	.footer-phones
		display: none

	.organizations-item
		min-height: 60px
		min-width: 160px
		img
			margin-right: 10px
		p
			font-size: 12px

	.personal-card
		.personal-card-h
			font-size: 30px

@media screen and (max-width: 850px)
	.col-organizations
		border: none
		width: 100%
	.organizations-item
		width: 100%
		&:last-child::after
			display: inline-block
		&::after
			width: 50%
	.mobile-none
		display: none

	.flex-personal-card
		justify-content: center
	.personal-card
		.personal-card-img
			display: none
	.personal-card-left
		text-align: center
@media screen and (max-width: 800px)
	.logo-name,
	.header-contacts
		justify-content: center
		width: 100%
		margin-top: 25px

	.header-callback
		margin: 0 auto
		margin-top: 25px

	.header-search-form
		display: none

	.card-operation-right
		padding-left: 0
		margin-top: 30px

	.sub-info-footer
		display: none

	.card-operation
		img
			max-width: 300px

@media screen and (max-width: 550px)
	.top-menu
		justify-content: center
		flex-direction: column
		align-items: stretch
	.item-menu-mobile
		display: block
	.item-menu
		display: none

	.personal-card
		min-height: 200px

	.flex-personal-card
		min-height: 200px

	.personal-card-left
		.personal-card-h
			font-size: 20px
			line-height: 30px
		p
			font-size: 15px
			margin: 15px 0

	.card-operation-img
		min-height: 200px
		min-width: 300px

	.footer-conect
		display: none
	.flex-footer
		justify-content: center
	.social-links
		text-align: center

@media screen and (max-width: 400px)
	.personal-card
		min-height: 200px
	.personal-card-left
		h1
			font-size: 20px
			margin: 0
		p
			font-size: 12px

	.organizations-item
		&:after
			width: 100%

//FONTS
@import "../fonts/font.scss"