@import "includes/vars.scss";
@import "includes/normalize.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: $fonts;
  color: $text-color;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER */

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 100;
  .logo-m-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;  
      height: 20px;
    }
  }
}

.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-square {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: 1s;
  &.sq-fat {
    border: 2px solid $text-color;
  }
  &.sq-green {
    border: 2px solid $green;
  }
}

.h-sq1 {
  transform: rotate(45deg);
  margin-left: -17px;
  margin-top: -17px;
}

.h-sq3 {
  transform: rotate(20deg);
  margin-left: -17px;
  margin-top: -17px;
}

.h-sq4 {
  transform: rotate(-20deg);
  margin-left: -17px;
  margin-top: -17px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  font-weight: 800;
  line-height: 106.9%;
  color: $text-color;
  &:hover {
    .h-sq1 {
      transform: rotate(225deg);
    }
    .h-sq3 {
      transform: rotate(200deg);
    }
    .h-sq4 {
      transform: rotate(-200deg);
    }
    .logo-left {
      span {
        right: 0;
      }
    }
  }
}

.head-logo-wrap {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-left {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  min-width: 70px;
  margin-left: -2px;
  height: 25px;
  span {
    position: absolute;
    top: 0;
    right: 100%;
    transition: 1s
  }
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  span {
    transition: 0.3s;
    border-bottom: 2px solid rgba(0,0,0,0);
  }
  a {
    color: #262626;
    font-weight: 500;
    font-size: 15px;
    padding: 20px;
    line-height: 132.9%;
    font-family: $monser;
    letter-spacing: 1px;
    &:hover {
      span {
        border-bottom: 2px solid $text-color;
      }
    }
  }
}

.head-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.open-menu {
  width: 30px;
  height: 20px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    .line-top {
      left: -59%;
    }
    .line-middle {
      left: 0;
    }
    .line-bottom {
      left: 14px;
    }
  }
}

.menu-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: $green;
  transition: 0.3s;
}

.line-top {
  top: 0;
  left: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -34px;
    width: 100%;
    height: 1px;
    background: $green;
  }
}
.line-middle {
  top: 50%;
  left: -50%;
  // transform: translateY(-50%);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -34px;
    width: 100%;
    height: 1px;
    background: $green;
  }
}
.line-bottom {
  bottom: 0;
  left: -80%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -34px;
    width: 100%;
    height: 1px;
    background: $green;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -34px;
    width: 100%;
    height: 1px;
    background: $green;
  }
}

/* HEADER END */

/* MAIN */

//Preloader
.preloader {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  animation: 1.5s preloaderHide 3s forwards;
  display: none; //Del
}

.pre-logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  // transform-origin: 100% -100% 0%;
}

.sq-thin {
  border: 1px solid $text-color;
}

.sq-fat {
  border: 3px solid $text-color;
  &.sq-green {
    border-color: $green;
  }
}

.sq1 {
  // transform: rotate(45deg);
  margin-left: -40px;
  margin-top: -40px;
  animation: 2s sq1 0.5s ease-in-out forwards;
}
.sq2 {
  transform: translate(-50%, -50%);
}
.sq3 {
  // transform: rotate(25deg);
  margin-left: -40px;
  margin-top: -40px;
  animation: 2s sq3 0.5s ease-in-out forwards;
}
.sq4 {
  // transform: rotate(-25deg);
  margin-left: -40px;
  margin-top: -40px;
  animation: 2s sq4 0.5s ease-in-out forwards;
}

.logo-m-wrap {
  font-size: 45px;
  font-weight: 900;
  animation: 2s logoM 0.5s ease-in-out forwards;
}
//Preloader End

//Main-block

.main-block {
  position: relative;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // position: relative;
}

//Particles

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  overflow: visible;
  // z-index: 0;
  // z-index: -1;
}

//Particles end

.section-h {
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 0.16em;
  line-height: 106.9%;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.sub-h {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0.16em;
  line-height: 106.9%;
  margin: 0;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.green {
  color: $green;
}

.top-block-scroll {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $green;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  cursor: pointer;
  // z-index: 1111;
  &::before {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    top: 19px;
    right: 15px;
    background: $green;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  &::after {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    top: 19px;
    left: 15px;
    background: $green;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &:hover {
    background: $green;
    &::before {
      background: #fff;
    }
    &::after {
      background: #fff;
    }
  }
}

//Main-block End

//Elephants

.elephants {
  font-family: $monser;
}

.elephants-h {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.2em;
  text-align: center;
  letter-spacing: 0.1em;
  p {
    color: $gray;
  }
}

.eleph-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 70%;
  padding-top: 150px;
}

.eleph-item {
  text-align: center;
}

.eleph-num {
  color: $green;
  font-weight: 900;
  font-size: 48px;
  // line-height: ;
  text-align: center;
  letter-spacing: 0.02em;
  .perc {
    color: $gray;
  }
}

.eleph-item-h {
  color: $gray;
  font-weight: bold;
  font-size: 24px;
  // line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
  padding-top: 15px;
}

//Elephants End

//Main menu

.popup-menu {
  background: #fff;
  position: fixed;
  // width: 100%;
  // height: 100%;
  width: 0;
  height: 10px;
  top: 0;
  right: 0;
  z-index: 600;
  overflow: auto;
  font-family: $monser;
}

.main-m-top {
  position: relative;
  padding-top: 20px;
}

.menu-logo-wrap {
  display: inline-block;
  .logo-left {
    width: 75px;
  }
}

.close-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: 580px;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
  &::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    background: $green;
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    background: $green;
    width: 25px;
    height: 1px;
    transform: rotate(-45deg);
  }
  &:hover {
    transform: rotate(180deg);
  }
}

.m-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-orient: vertical;
  height: 100%;
  padding-top: 90px;
}

.m-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.m-left-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 400;
  li {
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    color: $gray;
    transition: 0.4s;
    &:hover {
      color: $green;
    }
  }
}

.m-services {
  color: $gray;
}

.m-services-h {
  color: $text-color;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-top: 15px;
    // opacity: 0.6;
    transition: 0.3s;
    font-size: 20px;
  }
  a {
    color: $gray;
    &:hover {
      color: $green;
    }
  }
}

.m-contacts {
  color: $gray;
  p {
    font-size: 20px;
    opacity: 0.6;
    margin: 20px 0;
  }
}

.m-contacts-h {
  color: $text-color;
  font-size: 30px;
  font-weight: 700;
}

.m-phones-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 20px;
  li {
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    color: $gray;
    // opacity: 0.6;
    &:hover {
      color: $green;
    }
  }
}

.m-contacts-mail {
  a {
    color: $gray;
    font-size: 20px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.m-contacts-links {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;
  margin-top: 60px;
  a {
    max-width: 30px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    min-width: 30px;
  }
}

//Main menu End

//Steps

.steps {
  font-family: $monser;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
}

.steps-wrap {
  display: flex;
  justify-content: space-between;
}

.steps-left {
  position: relative;
}

.step-arrows {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $green;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  // z-index: 1111;
  &::before {
    content: "";
    width: 11px;
    height: 1px;
    position: absolute;
    top: 20px;
    right: 17px;
    background: $green;
    // transform: rotate(45deg);
    transition: 0.3s;
  }
  &::after {
    content: "";
    width: 11px;
    height: 1px;
    position: absolute;
    top: 20px;
    left: 17px;
    background: $green;
    // transform: rotate(-45deg);
    transition: 0.3s;
  }
  &:hover {
    background: $green;
    &::before {
      background: #fff;
    }
    &::after {
      background: #fff;
    }
  }
}

.step-next {
  top: -40px;
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.step-prev {
  // top: -40px;
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.step-content {
  display: none;
}

.active-step {
  display: block;
}

.steps-h {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: $gray;
  margin-bottom: 30px;
}

.step-item-top {
  position: relative;
  padding: 40px 0;
}

.step-item-h {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2em;
  color: $green;
}

.step-num {
  font-family: $fonts;
  font-weight: 700;
  color: #FAFAFA;
  font-size: 144px;
  line-height: 105%;
  text-align: center;
  letter-spacing: 0.05em;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: -1;
}

.step-descr {
  color: $gray;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  max-width: 230px;
}

.steps-right {
  max-width: 576px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

//Steps End

//Technology

.technology {
  font-family: $monser;
}

.tech-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-h {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: $gray;
  span {
    color: $green;
  }
}

.tech-right {
  display: flex;
  justify-content: space-between;
  width: 55%;
  min-width: 600px;
}

.tech-item-h {
  color: $gray;
  font-weight: bold;
  font-size: 20px;
  // line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.tech-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    font-weight: 500;
    font-size: 14px;
    // line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 20px 0;
  }
}

//Technology End

//Benefit

.benefit {
  font-family: $monser;
}

.ben-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ben-right {
  max-width: 420px;
}

.ben-h {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3em;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
  color: $gray;
  span {
    color: $green;
  }
}

.ben-descr {
  // font-weight: 500;
  // max-width: 380px;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: $gray;
}

.ben-details {
  display: inline-block;
  margin-top: 60px;
  position: relative;
  font-weight: 600;
  transition: 0.3s;
  color: $gray;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0;
    background: $green;
    transition: 0.3s;
  }
  &:hover {
    color: $text-color;
    &::before {
      width: 100%;
    }
  }
}

//Benefit End

//Benefit End
//Benefit End

//About

.about {
  font-family: $monser;
}

.about-h {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.3em;
  color: $text-color;
  margin-bottom: 30px;
}

.about-left {
  max-width: 420px;
}

//About End

//Create

.create {
  font-family: $monser;
}

.create-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-left-list {
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    display: inline-block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    color: $text-color;
  }
  li {
    a {
      &:hover {
        color: $green;
      }
    }
  }
  .c-active-tab {
    a {
      color: $green;
    }
  }
}

.create-right {
  padding-left: 70px;
  // position: relative;
}

.create-h {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: $text-color;
  margin-bottom: 60px;
}

.c-content-active {
  display: block !important;
}

.create-content {
  display: none;
}

.create-tab-wrap {
  // span {
  //   font-size: 23px;
  //   color: $gray;
  //   font-weight: 500;
  // }
  a {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    color: $gray;
    position: relative;
    margin-right: 15px;
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "/";
      position: absolute;
      font-size: 23px;
      color: $gray;
      font-weight: 500;
      top: 0;
      right: -15px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 0;
      height: 3px;
      background: $green;
      transition: 0.7s;
    }
    &:hover {
      color: $green;
    }
  }
  .active-create-tab {
    &::before {
      width: 99%;
    }
  }
}

.create-btn {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 15px;
  min-width: 180px;
  background: $green;
  border: 1px solid $green;
  text-align: center;
  margin: 50px 0 100px 0;
  &:hover {
    color: $green;
    background: rgba(0,0,0,0);
  }
}

.c-prog-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.c-prog-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: $gray;
}

.c-progressbar {
  background: $light-gray;
  width: 60%;
  height: 3px;
  border-radius: 2px;
  overflow: hidden;
  &::after {
    content: "";
    width: 0;
    height: 3px;
    background: $green;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//Create End

/* MAIN END */

/* FOOTER */
/* FOOTER END */

//Animation
@keyframes sq1 {
  from {
    transform: rotate(0);
  }
  to {
    // transform: rotate(1845deg);
    transform: rotate(495deg);
  }
}
@keyframes sq3 {
  from {
    transform: rotate(0);
  }
  to {
    // transform: rotate(-1865deg);
    transform: rotate(-200deg);
  }
}
@keyframes sq4 {
  from {
    transform: rotate(0);
  }
  to {
    // transform: rotate(1865deg);
    transform: rotate(200deg);
  }
}
@keyframes logoM {
  from {
    color: $text-color;
  }
  to {
    color: $green;
  }
}
@keyframes preloaderHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}