.slick-dots li button {
  // border-radius: 50%;
  // display: block;
  // background: #bebebe;
  // width: 10px !important;
  // height: 10px !important;
  // box-sizing: border-box;
  &::before {
    content: '';
    display: none !important;
  }
}

.slick-dots {
  bottom: -40px;
  right: 40px;
  width: auto;
  li {
    width: 15px;
    height: 15px;
    background: #bebebe;
    border: 4px solid #bebebe;
    border-radius: 50%;
  }
  li.slick-active {
    border-radius: 50%;
    border: 4px solid $yellow;
    // width: 18px;
    // height: 18px;
  }
}

// .slick-active {
//   border-radius: 50%;
//   border: 5px solid $orange;
// }