$fonts: 'Open Sans', arial, sans-serif;
$gray: #646464;
$orange: #f9ae03;
$liteGray: #989898;
$yellow: #ffe655;

/* SLICK SLIDER */
@import 'slick';
@import 'slick-theme';
/* SLICK SLIDER END */

body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
}

* {
  box-sizing: border-box;
}

.wrap {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
}
/* HEADER */
header {
  background: #fff;
  border-bottom: 1px solid $gray;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.head-left,
.head-right {
  display: flex;
  align-items: center;
}

.logo {
  background: url(../img/sprite.png) no-repeat;
  background-position: -3px -87px;
  display: inline-block;
  min-width: 140px;
  min-height: 90px;
}

.head-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 0 10px;
  }
  a {
    color: $gray;
    font-size: 14px;
  }
}

.delivery {
  background: url(../img/sprite.png) no-repeat;
  background-position: -316px -4px;
  margin-right: 20px;
  min-width: 30px;
  min-height: 30px;
}

.phones {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
  span {
    font-size: 14px;
    color: $liteGray;
  }
  padding-right: 20px;
}

.phones-left {
  margin-right: 20px;
}

.phones-img {
  min-width: 15px;
  min-height: 15px;
  margin-right: 5px;
}

.phone-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -290px -15px;
}

.viber-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -363px -53px;
}

.sign-in {
  display: flex;
  align-items: center;
  padding-right: 20px;
  a {
    color: $liteGray;
  }
}

.sign-in-img {
  background: url(../img/sprite.png) no-repeat;
  background-position: -355px -10px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
}

.social-links {
  padding-left: 20px;
  a {
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
  }
}

.head-insta {
  background: url(../img/sprite.png) no-repeat;
  background-position: -267px -14px;
}

.head-face {
  background: url(../img/sprite.png) no-repeat;
  background-position: -238px -14px;
}

/* HEADER END */

/* SIDEBAR */
.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #fff;
  padding-top: 130px;
  z-index: 2;
  border: 1px solid $liteGray;
  transition: 0.3s;
  &:hover .sidebar-menu span {
    display: inline-block;
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 5px 15px;
  }
  a {
    display: flex;
    align-items: center;
    color: $gray;
  }
  span {
    display: none;
    // transition: 0.4s;
  }
}

.sidebar-img {
  min-width: 40px;
  min-height: 30px;
}


.pizza-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -76px -40px;
}
.burger-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -32px;
}
.salad-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -114px -38px;
}
.additives-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -149px -38px;
}
.winglets-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -41px -34px;
}
.drinks-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -184px -38px;
}
/* SIDEBAR END */

/* RIGHT SIDEBAR */
.right-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: #fff;
  // padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $liteGray;
  // text-align: center;
}

.add-products {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 14px;
    color: $gray;
  }
}

.add-products-icon {
  background: url(../img/shopping.png) center no-repeat;
  background-size: contain;
  min-width: 50px;
  min-height: 60px;
  margin-right: 15px;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  li {
    width: 30%;
    text-align: center;
  }
  a {
    font-size: 14px;
    color: $liteGray;
    transition: 0.3s;
    &:hover {
      color: $orange;
    }
  }
}

.min-sum {
  border-top: 1px solid $liteGray; 
  border-bottom: 1px solid $liteGray;
  padding: 10px 15px;
  span {
    font-size: 14px;
    color: $orange;
    font-weight: 600;
  }
}

.basket-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.place-order {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.my-price {
  color: $liteGray;
  font-size: 22px;
  position: relative;
  // display: block;
  // border-bottom: 2px solid $liteGray;
  &:before {
    content: '';
    display: inline-block;
    background: $liteGray;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
}

.place-order-btn {
  padding: 10px 20px;
  background: $liteGray;
  border: 1px solid $liteGray;
  color: #fff;
  // font-weight: 700;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 14px;
  &:hover {
    background: rgba(0,0,0,0);
    color: $liteGray;
  }
}
/* RIGHT SIDEBAR END */

/* MAIN */
main {
  // padding-left: 70px;
  // padding-top: 110px;
  // padding-right: 340px;
  padding: 110px 340px 0 70px;
}

.pizza-top {
  background: url(../img/pizza-bg.png) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-left: 60px;
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: flex-start;
  }
}

.pizza-h {
  font-size: 62px;
  text-transform: uppercase;
  color: #fff;
}

.order-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 20px 50px;
  background: rgba(0,0,0,0);
  transition: 0.3s;
  font-size: 24px;
  font-weight: 700;
  &:hover {
    background: #fff;
    color: #000;
  }
}

//STOCK
.stock {
  padding: 50px 15px;
}

.section-h {
  font-size: 36px;
  color: $orange;
  margin-bottom: 70px;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.item-descr {
  font-size: 35px;
  span {
    font-size: 25px;
    color: orange;
  }
  .gift-text {
    font-weight: 700;
  }
}

.slider-item {
  display: flex !important;
  align-items: center;
  border: 6px solid $orange;
  padding: 40px 30px;
}

.slide-btn {
  background: $yellow;
  padding: 10px 15px;
  color: #000;
  border: 2px solid $yellow;
  transition: 0.3s;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  &:hover {
    background: rgba(0,0,0,0);
  }
}

.slider-wrap {
  position: relative;
}

.next,
.prev {
  max-width: 15px;
  max-height: 15px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.next {
  right: 0;
}
.prev {
  right: 20px;
}

.item-right {
  max-width: 30%;
  img {
    width: 100%;
  }
}
//STOCK END

//RECOMMEND
.recommend {
  padding: 50px 15px;
}

.pizza-wrap {
  display: flex;
  justify-content: space-around;
  // flex-wrap: wrap;
}

.recommend-pizza {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  h3 {
    font-size: 30px;
    color: $orange;
    font-weight: 600;
  }
  .see-all {
    padding: 15px 10px;
    background: $yellow;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    border: 2px solid $yellow;
    border-radius: 30px;
    transition: 0.3s;
    &:hover {
      background: rgba(0,0,0,0);
    }
  }
}

.pizza-item {
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  &:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  }
  &:hover .product-sub-info {
    top: -15px;
  }
}

.product-sub-info {
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 13px;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  top: -200px;
  transition: 0.4s;
}

.product-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  // display: flex;
  // align-items: center;
}

.tip-icon {
  background: url(../img/sprite.png) no-repeat;
  background-position: -237px -91px;
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  margin-left: 5px;
}

.product-name {
  display: block;
  padding: 10px 0;
}

.in-basket-btn {
  font-size: 14px;
  padding: 10px 15px;
  background: $yellow;
  color: #000;
  border: 2px solid $yellow;
  border-radius: 20px;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s;
  &:hover {
    background: rgba(0,0,0,0);
  }
}

.pizza-item-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.weight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight-img {
  background: url(../img/hamburger.png) center no-repeat;
  background-size: contain;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
}

.recom-burger {
  margin-top: 80px;
}
//RECOMMEND END

/* MAIN END */


/* FOOTER */
footer {
  padding: 50px 340px 50px 70px;
  border-top: 1px solid $liteGray;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
}

.delivery-wrap {
  max-width: 30%;
}

.nav-wrap {
  max-width: 20%;
}

.nav {
  display: flex;
  align-items: center;
  span {
    text-transform: uppercase;
    font-size: 16px;
    color: $liteGray;
  }
}

.nav-img {
  background: url(../img/sprite.png) no-repeat;
  background-position: -306px -90px;
  min-width: 45px;
  min-height: 45px;
}

.foot-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  li {
    width: 50%;
  }
  a {
    font-size: 14px;
    color: $liteGray;
    transition: 0.3s;
    &:hover {
      color: $orange;
    }
  }
}

.delivery-foot {
  display: flex;
  align-items: center;
  span {
    font-size: 16px;
    color: $liteGray;
    text-transform: uppercase;
  }
}

.delivery-img {
  background: url(../img/sprite.png) no-repeat;
  background-position: -305px -43px;
  min-width: 50px;
  min-height: 30px;
}

.phones-foot {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
  }
  a {
    color: $liteGray;
    font-size: 14px;
    transition: 0.3s;
    &:hover {
      color: $orange;
    }
  }
}

.foot-social {
  span {
    font-size: 16px;
    color: $liteGray;
    text-transform: uppercase;
  }
}

.foot-insta,
.foot-face {
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
}

.foot-insta {
  background: url(../img/sprite.png) no-repeat;
  background-position: -265px -49px;
}

.foot-face {
  background: url(../img/sprite.png) no-repeat;
  background-position: -233px -48px;
}
/* FOOTER END */

//CUSTOM SLICK
@import 'castom';