
.section-h {
    position: relative;
    z-index: 1;
	}


@media  screen and (max-width:1920px)  and (max-height: 1080px){
.adv-item1 {
    left: 59%;
    top: 21%;
}
.adv-item2 {
    left: 80%;
    top: 16%;
}
.adv-item10 {
    left: 72%;
    top: 52%;
}
.adv-item4 {
    left: 34%;
    top: 70%;
}

.adv-item5 {
    left: 41%;
    top: 50%;
}
.adv-item6 {
    left: 11%;
    top: 85%;
}
.adv-item7 {
    left: 66%;
    top: 94%;
}
.adv-item8 {
    left: 55%;
    top: 85%;
}
.adv-item9 {
    left: 18%;
    top: 0%;
}
.adv-item3 {
    left: 31%;
    top: 29%;
}
 
}  
@media  screen and (max-width:1920px)  and (max-height: 992px){
.adv-item1 {
    left: 58%;
    top: 26%;
}
.adv-item2 {
    left: 79%;
    top: 19%;
}
.adv-item10 {
    left: 72%;
    top: 55%;
}
.adv-item4 {
    left: 34%;
    top: 76%;
}

.adv-item5 {
    left: 41%;
    top: 55%;
}
.adv-item6 {
    left: 11%;
    top: 92%;
}
.adv-item7 {
    left: 81%;
    top: 80%;
}
.adv-item8 {
    left: 70%;
    top: 80%;
}
.adv-item9 {
    left: 18%;
    top: 10%;
}
.adv-item3 {
    left: 31%;
    top: 35%;
}
 
}  
@media (max-width:1536px) {
.adv-item1 {
    left: 57%;
    top: 21%;
}
.adv-item2 {
    left: 80%;
    top: 16%;
}
.adv-item10 {
    left: 74%;
    top: 62%;
}
.adv-item4 {
    left: 37%;
    top: 62%;
}

.adv-item5 {
    left: 43%;
    top: 45%;
}
.adv-item6 {
    left: 18%;
    top: 75%;
}
.adv-item7 {
    left: 62%;
    top: 81%;
}
.adv-item8 {
    left: 62%;
    top: 81%;
}
.adv-item9 {
    left: 25%;
    top: 5%;
}
.adv-item3 {
    left: 35%;
    top: 29%;
}
 
}  
@media (max-width:1440px) {
.adv-item1 {
    left: 63%;
    top: 23%;
}
.adv-item2 {
    left: 80%;
    top: 18%;
}
.adv-item10 {
    left: 75%;
    top: 50%;
}
.adv-item4 {
    left: 44%;
    top: 63%;
}

.adv-item5 {
    left: 48%;
    top: 46%;
}
.adv-item6 {
    left: 23%;
    top: 77%;
}
.adv-item7 {
    left: 70%;
    top: 84%;
}
.adv-item8 {
    left: 60%;
    top: 84%;
}
.adv-item9 {
    left: 11%;
    top: 8%;
}
.adv-item3 {
    left: 41%;
    top: 30%;
}
 
}
 @media (max-width:1366px) {
 .adv-item1 {
    left: 55%;
    top: 23%;
}
  .adv-item2 {
    left: 78%;
    top: 20%;
}
.adv-item10 {
    left: 71%;
    top: 58%;
}
.adv-item4 {
    left: 39%;
    top: 60%;
}

.adv-item5 {
    left: 43%;
    top: 46%;
}
.adv-item6 {
    left: 23%;
    top: 72%;
}
.adv-item7 {
    left: 61%;
    bottom: 14%;
}
.adv-item8 {
    left: 51%;
    bottom: 10%;
}
.adv-item9 {
    left: 11%;
    top: 8%;
}
.adv-item3 {
    left: 37%;
    top: 30%;
}
 
}
@media  screen and (max-width:1280px)  and (max-height: 1024px) {
 .adv-item1 {
  left:55%;
  top:23%;
  }
  .adv-item2 {
  left:84%;
  top:20%;
  }
 .adv-item10 {
  left:68%;
  top:58%;
  }
  .adv-item4 {
  left:38%;
  top:85%;
  }
  .adv-item5 {
  left:43%;
  top:53%;
  }
.adv-item7 {
  left:59%;
   top:65%;
  }
.adv-item9{
  left:22%;
  top:4%;
  }
  .adv-item8{
  left:49%;
   top:65%;
  }
 .adv-item3 {
   left:27%;
  top:40%;
  }
 
}
@media  screen and (max-width:1280px)  and (max-height: 800px) {
 .adv-item1 {
  left:62%;
  top:23%;
  }
  .adv-item2 {
  left:84%;
  top:20%;
  }
 .adv-item10 {
  left:78%;
  top:58%;
  }
.adv-item4 {
    left: 44%;
    top: 59%;
}
.adv-item5 {
    left: 48%;
    top: 45%;
}
.adv-item6 {
    left: 25%;
    top: 72%;
}
.adv-item7 {
  left:68%;
  top: 77%;
  }
  .adv-item8 {
    left:58%;
	top: 77%;
}
.adv-item9{
  left:31%;
  top:8%;
  }
 .adv-item3 {
   left:42%;
  top:30%;
  }
 
}

@media (max-width:1024px) {
 .adv-item1 {
  left:49%;
  top:26%;
  }
  .adv-item2 {
    left: 74%;
    top: 20%;
}
 .adv-item10 {
    left: 62%;
    top: 50%;
}
 .adv-item4 {
    left: 35%;
    top: 73%;
}
  .adv-item5 {
  left:42%;
  top:46%;
  }
  .adv-item7 {
    left: 81%;
    bottom: 15%;
}
.adv-item8 {
    left: 71%;
    bottom: 12%;
}
.adv-item9{
  left:21%;
  top:9%;
  }
 .adv-item3 {
   left:26%;
  top:40%;
  }
  
}
  @media (min-width:992px) {
  
  .adv-item-h,.adv-item-descr { 
  opacity:0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  
  }  
 .adv-item:hover .adv-item-descr { 

  
  }  
 .adv-item { 
 -webkit-transition: 0.5s ease;
 -moz-transition:0.5s ease;
 -o-transition:0.5s ease;
 transition: 0.5s ease;
 }
  .adv-item:hover .adv-item-h,.adv-item:hover  .adv-item-descr {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay:0.3s;
  -o-transition-delay:0.3s;
  transition-delay: 0.3s;
  }  
 .adv-item8,.adv-item2,.adv-item3,.adv-item5,.adv-item1 {
    width: 90px;
    height: 90px;   
	padding: 20px;
	
}
.adv-item9,.adv-item6{
    width: 75px;
    height: 75px;   
	padding: 16px;
	
}
  .adv-item10,.adv-item4,.adv-item7 {
    width: 53px;
    height: 53px;   
	padding: 8px;
	
}
.adv-item5,.adv-item3,.adv-item2 {
    width: 93px;
    height: 93px;   
	padding: 24px;
	
}
 .adv-item  img {  
  transition:0s linear;
  width: 38px; 
}

 .adv-item1:hover img, .adv-item2:hover img,.adv-item3:hover img,.adv-item4:hover img,.adv-item5:hover img,.adv-item6:hover img,.adv-item7:hover img,.adv-item8:hover img,.adv-item9:hover img,.adv-item10:hover img {
    width: 43px; 
 }
  .adv-item9:hover,.adv-item8:hover,.adv-item5:hover,.adv-item1:hover  {
	width: 220px;
    height: 220px; 
    padding: 30px;
	margin-left:-40px;
	margin-top:-40px;
  }
  .adv-item10:hover,.adv-item4:hover,.adv-item3:hover  {
	width: 220px;
    height: 220px; 
    padding: 30px;
	margin-left:-80px;
	margin-top:-40px;
  }
  .adv-item7:hover,.adv-item6:hover{
	width: 220px;
    height: 220px; 
    padding: 30px;
	margin-left:-60px;
	margin-top:-40px;
  }
  .adv-item2:hover{
	width: 220px;
    height: 220px; 
    padding: 30px;
	margin-left:-80px;
	margin-top:-40px;
  }
  .adv-item9:hover {
	width: 190px;
    height: 190px; 
  
	
  }
  .adv-item:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.adv-item9:hover,.adv-item8:hover,.adv-item6:hover,.adv-item5:hover,.adv-item1:hover,.adv-item10:hover,.adv-item4:hover {

}
.network2 {
    background-image: url(img/logo1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    width: 100%;
    margin: 0px auto 0 auto;
    position: relative;	
	
	 -webkit-transition: 5s ease;
     -moz-transition:5s ease;
     -o-transition:5s ease;
     transition: 5s ease;
	 
	  -webkit-transition-delay: 0.9s;
     -moz-transition-delay: 0.9s;
     -o-transition-delay: 0.9s;
	 transition-delay: 0.9s;
}
#particles4 {
   
    height: 100%;
   
}
  }
  

@media (max-width:991px) {
  .adv-item {
  width:230px;
  height:230px;
  position:relative;
  left:0;
  right:0;
  top:0;
   
  }
  .network2 {
  display:flex;
  background-image: url();
  flex-flow: column nowrap;
   align-content: center;
   width: 100%;
    margin: 0px auto 0 auto;
	 align-items: center;
	 height:auto;
  }

  .adv-item-h,.adv-item-descr { 
  opacity:1;
  visibility: visible;
  
  
  }  
  }