$orange: #F4B71A;
$gray: #EDF3FF;
$new-gray: #999999;
$purple-color: #5529CF;
$text-color: #292929;
$work-purple: #5C3AD8;
$inp-purple: #5E2DD6;
// $light-blue: #EDF3FF;
$purple: linear-gradient(83.89deg, #5529CF -0.96%, #9745FF 100.72%);
$purple-arrow: linear-gradient(89.18deg, #5529CF -0.96%, #9745FF 100.72%);
$btn-gradient: linear-gradient(86.93deg, #5529CF -0.96%, #9745FF 100.72%);
$before-gradient: linear-gradient(35.4deg, #5529CF -0.96%, #9745FF 100.72%);

$fonts: "Acrom", "Open Sans", arial, serif;