@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Playfair+Display+SC:400,700|Prata|Rouge+Script|Sarina");
body {
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: 1300px; }

/*************HEADER************/
.header-main {
  background: url(../img/header_bg.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px; }

.phone a {
  font-family: 'Rouge Script', cursive;
  font-size: 25px; }

.head_menu {
  padding: 15px; }

.head_menu ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0; }

.head_menu a {
  color: white;
  outline: none; }

.menu_list a {
  margin: 10px 20px;
  font-family: 'Playfair Display SC', serif;
  font-size: 20px; }

.head_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.head_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px; }

.head_info h1, .head_info h2 {
  color: white; }

.head_info h2 {
  font-size: 24px;
  font-family: "Prata", serif;
  font-weight: 400; }

.name_shop {
  font-family: 'Sarina', cursive;
  font-size: 36px;
  font-weight: 400;
  color: white; }

/*************HEADER END************/
/*************MAIN************/
/*Destrov*/
.destrov {
  background-color: #c4c4c4;
  padding: 40px;
  font-family: 'Playfair Display SC', serif; }

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.destrov_info {
  max-width: 500px;
  padding: 30px;
  font-size: 20px; }

/*Destrov END*/
/*Summer_2018*/
.summer_2018 {
  min-height: 400px;
  background: transparent;
  padding: 50px;
  font-style: 20px; }

.summer_2018 h2 {
  color: white;
  /* text-transform: uppercase */
  font-weight: 400;
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 50px; }

.summer_2018 p {
  color: white;
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 40px; }

.summer_2018 input {
  border: none;
  outline: none;
  background: #B38256;
  font-family: 'Prata', serif;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px 20px; }

/*Summer_2018 END*/
/*Shoes_from_oksford*/
.shoes_from_oksford {
  background: #c4c4c4;
  padding: 30px;
  text-align: center; }
  .shoes_from_oksford h2 {
    font-family: "Playfair Display SC", serif;
    /* text-transform: uppercase */
    font-size: 36px;
    font-weight: normal; }

.type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.type_item {
  min-height: 200px;
  min-width: 300px;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.type_item span {
  color: white;
  font-size: 18px;
  font-family: 'Playfair Display SC', serif; }

.lofer_item {
  background: url(../img/lofer.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

.derbi_item {
  background: url(../img/Brogi.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

.ocsford_item {
  background: url(../img/Fashion.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

/*Shoes_from_oksford END*/
/*About_us*/
.about_us {
  background: transparent;
  padding: 40px; }

.about_us img {
  margin: 30px 0; }

.info_about {
  border: 3px solid #815834;
  max-width: 500px;
  color: white;
  font-size: 20px;
  margin: 30px;
  padding: 20px; }
  .info_about p {
    padding: 0;
    margin: 0;
    font-size: 17px; }

/*About_us End*/
/*Order_now*/
.order_now {
  background: url(../img/order.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  text-align: center; }
  .order_now input {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 80px 0;
    padding: 20px 35px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background: #B38256;
    font-size: 25px;
    font-family: 'Prata', serif; }

/*Order_now End*/
/*Classic_oxfords*/
.classic_oxfords {
  background: transparent;
  font-family: 'Playfair Display SC', serif;
  padding: 40px; }
  .classic_oxfords h2 {
    color: white;
    font-size: 40px;
    font-weight: normal; }
  .classic_oxfords hr {
    margin-bottom: 40px; }
  .classic_oxfords p {
    color: white;
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 40px; }
  .classic_oxfords input {
    background: #C4C4C4;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif; }

/*Classic_oxfords End*/
/*Scope*/
.scope {
  background: url(../img/scope.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding: 40px; }
  .scope h2 {
    font-size: 25px;
    font-family: 'Playfair Display SC', serif;
    font-weight: normal;
    margin-right: 40px; }
  .scope ul {
    border-left: 3px solid black;
    padding-left: 60px; }
    .scope ul li {
      font-size: 20px;
      font-family: 'Prata', serif;
      margin: 30px 0; }

.flex-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/*Scope End*/
/****MAIN END*******/
/******FOOTER******/
/*Contacts*/
.contacts {
  padding: 30px;
  color: white; }
  .contacts h2 {
    font-size: 36px;
    font-family: 'Playfair Display SC', serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center; }
  .contacts form {
    text-align: center; }
    .contacts form input[type="text"],
    .contacts form input[type="email"],
    .contacts form textarea {
      border: 3px solid #B38256;
      background: #C4C4C4;
      padding: 10px 15px;
      width: 250px; }
    .contacts form textarea {
      height: 150px; }
    .contacts form input[type="submit"] {
      border: none;
      padding: 10px 20px;
      color: white;
      font-family: 'Prata', serif;
      background: #B38256;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      cursor: pointer; }

.contacts-info {
  max-width: 600px; }
  .contacts-info a {
    color: white;
    font-size: 20px; }

/*Contacts End*/
/*******FOOTER END*****/
/************PAGE SHOES*************/
body {
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: 1300px; }

/**********HEADER********/
.header-page {
  background: url(../img/header_bg.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  text-align: center; }
  .header-page .name_shop {
    margin-top: 70px; }

/**********HEADER END********/
/**********MAIN********/
.page_shoes-shoes h2 {
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  font-size: 40px; }

/*Price*/
.price {
  padding: 30px;
  background: #c4c4c4;
  text-align: center;
  font-family: 'Playfair Display SC', serif; }
  .price h2 {
    font-style: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px; }

.price_table {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

/*Price End*/
/*Creation*/
.creation {
  padding: 30px;
  color: white;
  font-family: 'Playfair Display SC', serif; }
  .creation h2 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    margin-bottom: 40px; }
  .creation li {
    margin: 20px 0; }
  .creation p {
    font-size: 25px;
    max-width: 900px; }

/*Creation End*/
/*Order-shoes*/
.order-shoes {
  background: url(../img/order-shoes.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 20px;
  text-align: center; }
  .order-shoes input {
    border: none;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 24px;
    font-family: 'Playfair Display SC', serif;
    padding: 15px 80px;
    margin: 30px 0;
    cursor: pointer;
    background: #B38256; }

/*Order-shoes End*/
/**********MAIN END********/
/************PAGE SHOES END*************/
/************CLIENTLE*************/
.our-client {
  background: #c4c4c4;
  padding: 40px; }
  .our-client h2 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px; }

.client-item {
  text-align: center;
  font-size: 24px;
  font-family: 'Didact Gothic', sans-serif; }

/************CLIENTLE END*************/
/************ABOUT_US*************/
.about-company {
  padding: 30px 0;
  background: #c4c4c4; }
  .about-company h2 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 36px;
    font-weight: normal; }

.about-image {
  background: url(../img/about_us-1.jpg);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px; }

.info-about-us {
  text-align: center;
  background: #c4c4c4;
  padding: 40px;
  font-family: 'Playfair Display SC', serif;
  font-size: 18px; }
  .info-about-us p {
    max-width: 900px;
    margin: 30px auto; }
  .info-about-us span {
    font-family: 'Sarina', arial; }

/************ABOUT_US END*************/
/************FONTS***********/
/************FONTS END***********/
