$light-gray: #edf6fe;
$line-gray: #d8d8d8;
$gray: #ebebeb;
$blue: #3a9cf2;
$foot-color: #f9f9f9;
$text-color: #333;
$work-purple: #5C3AD8;
$inp-purple: #5E2DD6;

$fonts: "Roboto", "Open Sans", arial, serif;