body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/****HEADER****/
.info-head {
  padding-top: 30px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 80px;
}

.name_company {
  padding-left: 20px;
}

.name_company h2 {
  font-family: "Proxima Nova", "Open Sans", serif;
  color: #e41e25;
  margin: 0;
  padding: 0;
}

.name_company h2 sup {
  color: #000;
}

.name_company p {
  margin: 10px 0;
  padding: 0;
}

.info_discounts {
  font-size: 13px;
}

.headphones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Proxima Nova", "Open Sans", serif;
}

.headphones-numbers {
  padding-left: 20px;
}

.headphones-numbers p {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.headphones-numbers span {
  color: #e41e25;
  font-weight: 800;
}

.headphones-numbers a {
  font-size: 12px;
  margin-left: 5px;
  color: #e41e25;
}

.head_service {
  text-align: center;
}

.head_service a {
  text-decoration: none;
}

.head_service input {
  border: none;
  background: #e41e25;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 15px;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 15px;
  font-family: "Proxima Nova", "Open Sans", serif;
  margin-top: 30px;
}

.item-menu a {
  text-decoration: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 3px 15px;
}

.item-menu a:nth-child(2) {
  border-right: 1px solid #fff;
}

.item-menu a:nth-child(1) {
  border-right: 1px solid #fff;
}

.item-menu span {
  margin: 0 10px;
  color: white;
}

.search_form button {
  border: none;
  outline: none;
  background: #000;
  cursor: pointer;
  padding: 0;
}

.search_form i {
  color: #e41e25;
  font-size: 17px;
}

.search {
  border: none;
  border-left: 1px solid #fff;
  color: white;
  background: #000;
  padding: 3px 10px;
  font-family: "Proxima Nova", "Open Sans", serif;
  outline: none;
}

/****HEADER END****/
/****MAIN****/
.personal_card {
  background: #cf0006;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  z-index: -2;
}

.personal_card img {
  position: absolute;
  width: 850px;
  top: -160px;
  right: 0;
  z-index: -1;
}

.info_personal_card {
  font-family: "Proxima Nova", "Open Sans", serif;
}

.info_personal_card h2 {
  color: white;
  font-size: 45px;
  margin: 0;
  margin-top: 50px;
}

.info_personal_card p {
  color: white;
  margin-top: 30px;
}

.info_personal_card input {
  border: none;
  font-family: "Proxima Nova", "Open Sans", serif;
  background: white;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.card_operation {
  background: url(../img/background-card.png);
  padding: 30px;
  font-family: "Proxima Nova", "Open Sans", serif;
  background-repeat: no-repeat;
  background-position: center center;
}

.card_operation img {
  margin-top: 30px;
  padding-right: 20px;
}

.info_card_operation {
  padding-left: 20px;
}

.info_card_operation h2 {
  font-weight: 800;
  text-transform: uppercase;
}

.info_card_operation p {
  font-size: 13px;
}

.info_card_operation hr {
  margin-bottom: 30px;
}

.flex_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages {
  font-family: "Proxima Nova", "Open Sans", serif;
  text-align: center;
}

.advantages h2 {
  font-weight: 800;
  text-transform: uppercase;
}

.advantages hr {
  margin-top: 30px;
}

.flex_advanteges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
}

.advantages_item p {
  font-size: 15px;
}

.organizations {
  background: #f3f3f3;
}

/****MAIN END****/
/****FOOTER****/
footer {
  background: #000;
  padding: 30px;
  font-family: "Proxima Nova", "Open Sans", serif;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_footer p {
  color: #646566;
  font-size: 13px;
}

.sub_info_footer a {
  color: #fff;
  font-size: 13px;
}

.social-links a {
  text-decoration: none;
  outline: none;
}

.social-links i {
  color: #fff;
  font-size: 25px;
  margin: 0 15px;
}

.social-links i:hover {
  color: #cf0006;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_phones {
  text-align: center;
}

.footer_phones p {
  color: #fff;
}

.footer_phones i {
  color: #cf0006;
  margin-right: 15px;
}

.footer_phones a {
  color: #cf0006;
  font-size: 12px;
}

/****FOOTER END****/
/*FONTS*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova.ttf");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */