@import "includes/normalize.scss";
@import "includes/vars.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $fonts;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-max {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.main-head {
  background-image: url(../img/gradient.png);
  background-repeat-z: repeat;
  position: absolute;
  height: 228px;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding-left: 286px;
  z-index: 100;
  // /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2a90f9+0&1+0,0.1+9 */
  // background: -moz-linear-gradient(top,  rgba(42,144,249,1) 0%, rgba(42,144,249,0.1) 9%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  rgba(42,144,249,1) 0%,rgba(42,144,249,0.1) 9%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  rgba(42,144,249,1) 0%,rgba(42,144,249,0.1) 9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a90f9', endColorstr='#1a2a90f9',GradientType=0 ); /* IE6-9 */
  a {
    color: #fff;
  }
}

.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.main-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  // padding-top: 20px;
  margin-left: 20px;
  li {
    position: relative;
  }
  a {
    display: block;
    position: relative;
    font-size: 20px;
    padding: 20px;
    &::before {
      content: "";
      height: 0px;
      width: 2px;
      background: rgba(255,255,255,0.3);
      position: absolute;
      top: -185px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.6s;
    }
    // z-index: 1000;
  }

  .active-page {
    &::before {
      height: 200px;
    }
  }
}

.head-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head-btn {
  border: 1px solid #fff;
  font-size: 12px;
  padding: 9px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  min-height: 33px;
  text-transform: uppercase;
  &:hover {
    background: #fff;
    color: #000;
  }
  img {
    margin-right: 8px;
  }
}

.login {
  img {
    max-width: 13px;
  }
}

.message {
  img {
    max-width: 16px;
  }
}

.select {
  background: #093c71;
  border: none;
  // min-height: 31px;
}
/* HEADER END */

/* MAIN */

.hidden {
  opacity: 0;
  pointer-events: visible;
}

.section-h,
.sub-h {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

//Slider1 
.page {
  transition: 0.3s;
}

.slider1-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  // display: none;
  // .swiper-slide {
  //   width: 100% !important;
  //   margin-right: 0 !important;
  // }
}

.slider1 {
  height: 100vh;
  width: 100%;
}

.slider1-slide {
  padding-left: 326px;
}

.slide1 {
  background-image: url(../img/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.slide2 {
  background-image: url(../img/3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.slide3 {
  background-image: url(../img/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.slide4 {
  background-image: url(../img/4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slide-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrap {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
}

.sidebar {
  position: absolute;
  padding: 30px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  color: #fff;
  z-index: 200;
}

.logo {
  display: block;
  text-align: center;
  img {
    max-width: 125px;
  }
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  li {
    border-top: 1px solid rgba(255,255,255,0.1);
    &:first-child {
      border-top: none;
    }
  }
  a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    padding: 15px 30px 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    margin-right: 15px;
  }
}

.content1 {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.sw-slide1 {
  background-image: url(../img/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.section-h {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -100px;
}

.sub-h {
  font-size: 34px;
  color: #fff;
  margin: 0;
}

.num-pages-list {
  position: absolute;
  bottom: 20px;
  left: 50%;
  border-top: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  margin-left: -340px;
  z-index: 100;
  li {
    padding: 5px 60px;
    font-size: 17px;
    // font-weight: 700;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 3px;
      bottom: 100%;
      background: #fff;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.3s;
    }
  }
  .num-active-page {
    font-weight: 700;
    &::before {
      opacity: 1;
    }
  }
}

.copy {
  font-size: 11px;
  color: #52555a;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

//CONTACTS
.contacts {
  background-image: url(../img/contacts-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-left: 276px;
  overflow: auto;
  padding-top: 300px;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cont-map {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.cont-block {
  background: rgba(0,0,0,.5);
  padding: 15px;
  max-width: 900px;
}

.cont-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.cont-h {
  color: #fff;
  font-size: 26px;
  margin-bottom: 20px; 
}

.cont-sub-h {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 17px;
}

.cont-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 16px;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  span {
    color: #fff;
  }
  p,
  a {
    color: $light-gray;
    display: inline-block;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    max-width: 13px;
    margin-right: 5px;
  }
}

.mail-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 25px;
  li {
    padding: 3px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  a {
    font-size: 16px;
    color: $blue;
  }
  img {
    max-width: 13px;
    margin-right: 5px;
  }
}

.cont-sub-info {
  font-size: 16px;
  color: $light-gray;
  line-height: 1.6em;
}

.cont-inp-wrap {
  min-width: 350px;
  input {
    width: 100%;
    height: 42px;
    padding: 10px;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    min-height: 150px;
  }
}

.cont-right-middle {
  span {
    color: $light-gray;
    font-size: 14px;
  }
}

.cont-check-descr {
  a {
    color: $blue;
    font-size: 14px;
  }
}

.cont-required {
  display: inline-block;
  margin: 10px 0;
}

//Checkbox
.cont-check {
  position: relative;
  // padding-top: 10px;
  a {
    font-size: 14px;
    color: $blue;
  }
}

.check-inp {
  position: absolute;
  visibility: hidden;
}

.check-mark {
  display: inline-block;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  margin-right: 0.2em;
  // height: 20px;
  border-radius: 2px;
  border: 1px solid $light-gray;
}

.cont-right-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cont-btn {
  background: $blue;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  min-width: 160px;
  padding: 15px 15px;
  border: none;
  border: 2px solid $blue;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,0);
  }
}

//Select
.select2-container {
  min-width: 75px;
  font-size: 14px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: rgba(9, 60, 113, .7);
}

.select2-dropdown {
  background: rgba(9, 60, 113, .7);
  color: #fff;
  text-transform: uppercase;
}

.select2-container *:focus {
  outline: none;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  background-color: rgba(9, 60, 113, .7);
  height: 33px;
  padding-top: 3px;
  // padding-bottom: 3px;
}

.select2-selection__clear {
  opacity: 0;
  pointer-events: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  text-transform: uppercase;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(255,255,255,0.4) transparent transparent;
  // margin-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 33px;
}

// .select2-container--default .select2-selection--single .select2-selection__arrow b {
//   border-color: transparent transparent rgba(255,255,255,0.3);
// }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent rgba(255,255,255,0.3);
}

.select2-search--dropdown {
  display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 15px;
}

/* MAIN END */

/* FOOTER */

/* FOOTER END */

/* MEDIA */

@import "./media.scss";

/* MEDIA END */