@import "slick.scss"
@import "slick-theme.scss"
  
$main-color: #b1b223
$fonts: 'Open Sans', serif
  
body
  padding: 0
  margin: 0
  font-family: $fonts
  background-color: #f9f9f9

*
  box-sizing: border-box

a
  text-decoration: none
  outline: none

//HEADER

header
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
  background: #f9f9f9
  padding-top: 20px
  a
    color: #000

.menu-list
  display: flex
  flex-wrap: wrap
  list-style: none
  padding: 0
  margin: 0
  a
    display: block
    padding: 20px 15px
    position: relative
    font-size: 16px
    font-weight: 600
    letter-spacing: -0.3px
    transition: 0.3s
    &:hover
      color: $main-color
    &::before
      content: ""
      display: none
      width: 100%
      height: 3px
      position: absolute
      left: 0
      bottom: 0
      background: #b1b223

.menu-list
  .active-menu
    color: $main-color
    &::before
      display: block

.menu-left
  img
    min-width: 70px
    max-height: 50px

// .logo-menu
//   background: url(../img/logo.svg)
//   background-position: center center
//   background-repeat: no-repeat
//   background-size: contain
//   min-width: 120px
//   min-height: 50px

.phone
  padding: 15px 0 
  display: flex
  align-items: center
  font-size: 13px
  span
    font-size: 15px
    font-weight: 600

.phone-menu-img
  background: url(../img/phone.svg) center no-repeat
  background-size: contain
  min-width: 25px
  min-height: 25px

.open-menu-mobile
  display: none
  font-size: 25px
  cursor: pointer
//HEADER END


//MAIN

.bread-crumb
  padding: 5px
  padding-left: 40px
  a
    color: $main-color
    font-size: 12px
  span
    margin: 0 15px
    &:last-child
      margin: 0
      font-size: 12px
  
.page-h
  font-size: 32px
  font-weight: bold
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  color: #1a0d00
  margin-bottom: 20px
  padding: 0

.contact
  padding-bottom: 40px
  .container
    padding: 0

.state-descr
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1)
  padding: 0
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-end
  background: #fff

.state-descr-list
  padding: 20px
  // padding: 0
  font-weight: bold
  list-style: none
  margin: 0
  background: #fff
  li
    font-size: 15px
    font-family: "Helvetica", Arial, serif
    position: relative
    padding-left: 25px
    margin: 15px 0
    &::before
      content: "*"
      font-size: 30px 
      font-weight: 300
      color: $main-color
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

.state-descr-bot
  padding: 30px
  background: #b1b223
  span
    margin-left: 15px
    font-size: 16px
    font-weight: 600
  .phone
    padding: 0
    margin-bottom: 20px
    color: #fff

.phone-descr-img
  background: url(../img/phone-fff.svg) center no-repeat
  background-size: contain
  min-width: 20px
  min-height: 20px

.message
  display: flex
  color: #fff

.message-img
  background: url(../img/contact.svg) center no-repeat
  display: block
  background-size: contain
  min-width: 20px
  min-height: 15px


//Consult

.consult-left
  background: #fff

.consult-right
  background: #d8d8d8
  display: flex
  flex-direction: column
  justify-content: center
  a
    color: #fff
    text-align: center
    background: #e74c3c
    display: block
    padding: 20px
    font-size: 13px

.consult-h
  font-size: 20px
  color: $main-color
  padding-left: 25px
  font-weight: 600
  margin: 15px 0

.consult-list
  list-style: none
  padding: 0
  padding-left: 25px
  li
    position: relative
    padding-left: 20px
    margin: 12px 0
    &::before
      content: "*"
      font-size: 18px
      color: $main-color
      position: absolute
      left: 0
      top: 65%
      transform: translateY(-50%)



.proposals-h
  padding: 30px 0 20px 0
  display: flex
  align-items: center
  color: #e74c3c
  font-size: 24px
  font-weight: 600

.piggy-bank
  background: url(../img/piggy-bank.svg) center no-repeat
  background-size: contain
  min-width: 30px
  min-height: 30px

.trip-item
  margin: 20px 0
  .container
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1)
  img
    max-width: 30%

.trip-item-h
  font-size: 22px
  font-weight: 600
  margin-bottom: 15px
  padding-left: 20px
  color: #b1b223

.trip-item-left
  background: #fff
  position: relative
  padding: 20px 0

.learn-more-left
  position: absolute
  right: 20px
  bottom: 0
  color: $main-color
  font-size: 13px

.trip-list-wrap
  padding-left: 20px

.trip-item-list
  font-size: 13px
  list-style: none
  padding: 0
  li
    padding-left: 25px
    position: relative 
    &::before
      content: "*"
      color: $main-color
      font-size: 17px
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

.warning
  background: #ff9e2c
  border-radius: 20px
  padding: 5px 10px
  font-size: 13px
  color: #fff

.sub-trip-item
  display: none

.trip-tabs-content
  background: #f9f9f9

.trip-item-right
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 
  padding: 40px 0 20px 0
  background: #d8d8d8

.sub-trip-left
  background: #f9f9f9
  padding: 0

.sub-trip-right
  background: #d8d8d8
  text-align: center
  padding: 20px 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.tabs-list
  margin: 0
  padding: 0
  background: #fff
  display: flex
  flex-wrap: wrap
  list-style: none
  a
    color: #1a0d00
    display: block
    font-size: 12px
    font-weight: 600
    padding: 10px 15px
    transition: 0.3s
    &:hover
      color: $main-color
  .active-tab
    color: $main-color
    border-bottom: 3px solid $main-color

.content-list
  list-style: none
  li
    position: relative
    padding-left: 20px
    margin: 5px 0
    font-size: 15px
    &::before
      content: "*"
      color: $main-color
      position: absolute
      left: 0
      font-size: 22px
      top: 65%
      transform: translateY(-50%)

.trip-tabs-content
  display: none

.active-content
  display: block

.sub-phone
  display: block
  color: #4a4a4a
  font-size: 16px
  margin-bottom: 30px

.sub-phone-img
  background: url(../img/phone.svg) center no-repeat
  background-size: contain
  min-width: 28px
  min-height: 28px
  display: block
  margin-bottom: 10px

.sub-trip-btn
  padding: 8px 20px
  color: #fff
  background: #e74c3c
  // display: block

.price
  font-size: 40px
  text-align: center
  color: #e74c3c
  font-weight: bold

.past-price
  font-size: 20px
  text-align: center
  color: #4d4f5c

.trip-right-descr
  font-size: 11px
  text-align: center

.learn-more
  color: #fff
  padding: 10px 15px
  background: #e74c3c
  font-size: 13px
  text-align: center
  display: block



.tour-search-h
  font-size: 24px
  color: #e74c3c
  font-weight: 600
  margin-bottom: 20px

.tour-search
  margin-bottom: 20px
  .container
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1)

.search-h
  font-size: 20px
  color: $main-color
  font-weight: 600
  margin-bottom: 20px

.tour-search-left
  background: #fff
  padding: 15px

.tour-search-right
  background: #d8d8d8
  padding: 15px
  a
    background: #e74c3c
    display: block
    color: #fff
    font-size: 13px
    padding: 15px
    text-align: center
    font-weight: 600

.search-img
  background: url(../img/magnifying-glass.svg) center no-repeat
  background-size: contain
  min-width: 20px
  min-height: 20px
  margin-bottom: 5px

//Comments

.comments-h
  font-size: 25px
  color: $main-color
  font-weight: 600
  margin-bottom: 20px

.comments
  .container 
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1)
   padding: 0

.comments-slider
  .slick-slide
    display: flex

.comments-item
  margin: 0 20px
  width: 100%

.comments-right
  background: #fff
  padding: 15px
  position: relative
  color: #1e1e21
  p
    font-weight: 600
    font-size: 17px

.comments-data
  position: absolute
  bottom: 10px
  right: 20px
  color: #9b9b9b

.comments-info
  background: #fff
  padding: 10px
  span
    font-weight: 600
    color: $main-color
  .assessment
    padding: 5px
    background: $main-color
    font-weight: 600
    color: #fff
    margin-right: 20px

.stars
  i
    color: #ff9e2c
    padding: 0 5px

.progress-bar
  text-align: right

.comments-progress
  padding: 15px 0
  span
    font-size: 13px
    font-weight: 600
  .row
    margin: 10px 0
  
.scale
  min-height: 6px
  min-width: 150px
  background: #b1b223

.all-comments
  font-size: 20px
  color: $main-color
  margin: 20px 0

.span-descr-one
  font-size: 20px
  font-weight: 600

.span-descr
  font-weight: 600
  font-size: 15px

.span-name-one
  color: #9b9b9b
  margin-right: 70px

.span-name
  color: #9b9b9b
  margin-right: 30px

//MAIN END


//FOOTER

footer
  background: #333 url(../img/pattern.png) repeat 0 0
  padding: 40px 0

.footer-list
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-wrap: wrap
  li
    position: relative
    padding-right: 15px
    margin-right: 15px
    margin-bottom: 10px
    a
      color: #f9f9f9
    &:last-child::after
      display: none
    &::after
      content: ""
      display: block
      min-width: 1px
      min-height: 70%
      background: rgba(255,255,255,0.1)
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)

.footer-list
  margin: 15px 0

.social-links
  padding-left: 15px
  img
    max-width: 50px

.footer-logo
  img
    max-width: 170px

.footer-h
  color: #fff
  font-size: 17px
  font-weight: 600

.footer-form
  text-align: center
  
.foot-search-h
  color: #fff
  font-size: 16px
  font-weight: 600
  margin-bottom: 10px

.form-wrap
  display: flex
  justify-content: center
  align-items: center
  position: relative
  input
    outline: none
  input[type="text"]
    min-width: 280px
    min-height: 40px
    padding-left: 15px
  input[type="submit"]
    min-width: 50px
    min-height: 40px
    cursor: pointer
    border: none
    background: #b1b223
    font-size: 12px
    text-transform: uppercase
  &::before
    content: ""
    display: block
    min-height: 2px
    min-width: 300px
    position: absolute
    left: -100%
    top: 50%
    background: rgba(255,255,255,0.1)
    transform: translateY(-50%)
  &::after
    content: ""
    display: block
    min-height: 2px
    min-width: 300px
    position: absolute
    right: -100%
    top: 50%
    background: rgba(255,255,255,0.1)
    transform: translateY(-50%)

.footer-bottom
  padding-top: 30px
  .footer-h
    margin-bottom: 10px

.footer-bot
  position: relative
  bottom: 30px


//FOOTER END

//MENU MOBILE
.mobile-menu
  position: fixed
  left: -100%
  top: 0
  height: 100%
  background: #fff
  width: 40%
  min-height: 100%
  z-index: 5
  padding: 30px 0
  min-width: 270px

.mobile-logo-img
  background: url(../img/logo.png) center no-repeat
  background-size: contain
  min-height: 70px
  width: 100%
  margin: 30px 0

.mobile-menu-list
  list-style: none
  padding: 0
  margin: 0
  li
    border-bottom: 1px solid #f9f9f9
  a
    font-size: 16px
    color: #000
    font-weight: 600
    display: block
    padding: 10px 20px
    transition: 0.3s
    &:hover
      background: #f9f9f9
      color: $main-color

.close-mob-menu
  position: absolute
  top: 10px
  right: 10px
  cursor: pointer
  &:hover
    color: $main-color

.footer-copy
  color: #8c8c8c
  font-size: 12px
  display: block
  margin-top: -15px

.active
  display: block


@media screen and (max-width: 1200px)
  .state-descr-list
    li
      font-size: 13px

@media screen and (max-width: 992px)
  .footer-bot
    position: static
    padding-top: 30px

  .menu-list
    display: none

  header
    .phone
      display: none

  .consult-right
    a
      padding: 10px

  .open-menu-mobile
    display: block

@media screen and (max-width: 768px)
  .trip-item img
    max-width: 100%

  .form-wrap
    input[type="text"]
      min-width: 200px
    input[type="submit"]
      min-width: 30px

  header
    padding: 20px
  
  .trip-list-wrap
    padding: 15px
    

@font-face
  font-family: "Helvetica" 
  src: url("../fonts/helveticaneuecyr-bold.ttf") format("truetype")
  font-style: normal
  font-weight: bold