@charset "utf-8";

$text-color: #333333;
$red: #ed4848;

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Circe', arial, serif;
}

* {
  box-sizing: border-box
}

// HEADER
header {
  position: fixed;
  padding: 0 10px;
  width: 100%;
  background: #fff;
  z-index: 20;
}

.header-shadow {
  background: #fff;
  box-shadow: 0 0 11px 0 hsla(0, 0%, 79%, .5);
}

// header .jq-selectbox__select {
//   cursor: pointer;
//   position: relative;
//   padding: 0 15px;
//   &::after {
//     font-family: 'FontAwesome';
//     content: '\f107';
//     position: absolute;
//     right: 0;
//     color: red;
//     font-size: 20px;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }

// .jq-selectbox__select-text {
//   font-size: 22px;
// }

// .jq-selectbox__dropdown ul {
//   padding: 0;
//   padding-left: -10px;
//   background: #fff;
//   li {
//     cursor: pointer;
//     padding: 5px 10px;
//     font-size: 20px;
//     &:hover {
//       background: #eee;
//     }
//   }
// }

.ik_select {
  cursor: pointer;
}

.lang-sel .ik_select {
  margin-left: 30px;
  &::after {
    content: "";
    display: block;
    min-width: 10px;
    min-height: 10px;
    background: url(../img/arrow.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
  }
}

.lang-list .ik_select_list {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  li {
    cursor: pointer;
  }
}

.logo {
  background: url(../img/logo.svg) center no-repeat;
  background-size: contain;
  min-width: 100px;
  min-height: 100px;
}

.list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0 10px;
  }
  a {
    // transition: 0.3s;
    color: #000;
    font-size: 15px;
    // font-weight: 400;
    &:hover {
      border-bottom: 1px solid #000;
      text-decoration: none;
    }
  }
}

select[name="lang"] {
  border: none;
  outline: none;
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  option {
    text-transform: uppercase;
  }
}

.top-phone {
  color: #ed4848;
  font-weight: bold;
  font-size: 24px;
  &:hover {
    color: $red;
    text-decoration: none;
  }
  i {
    transform: rotate(90deg);
  }
}

.top-btn {
  font-size: 20px;
  color: $red;
  border: 1px solid $red;
  padding: 5px 30px;
  border-radius: 20px;
  transition: 0.3s;
  &:hover {
    color: #fff;
    background: $red;
    text-decoration: none;
  }
}

.open-mobile-menu {
  cursor: pointer;
  padding-left: 20px;
  i {
    font-size: 30px;
  }
}

//Mobile-menu-list
.mobile-menu {
  position: fixed;
  left: -100%;
  top: 0;
  background: #eee;
  z-index: 100;
  height: 100%;
  padding: 30px;
}

.phone-menu-mobile {
  padding-top: 30px;
  a {
    text-decoration: none;
    color: $red;
    font-size: 24px;
    font-weight: 600;
    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  li {
    padding: 10px 0;
  }
  a {
    color: $text-color;
    text-decoration: none;
    font-size: 24px;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.close-mob-menu {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $red;
  color: $red;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  // min-width: 40px;
  // min-height: 20px;
}
//Mobile-menu-list End
// HEADER END


// MAIN

main {
  padding-top: 100px;
}

//AMENITIES
.amenities {
  background: url(../img/background.png) no-repeat;
  background-position: center bottom;
  background-size: size;
  padding: 100px 10px;
}

.main-h {
  font-weight: bold;
  margin-bottom: 100px;
  font-size: 48px;
}

.amenities-h {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 40px;
}

.amenities-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 8px 0;
  }
  a {
    color: $text-color;
    border-bottom: 1px solid $text-color;
    font-size: 23px;
    transition: 0.3s;
    // display: inline-block;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
}
//AMENITIES END


//ABOUT
.about {
  background-image: linear-gradient(90deg, #184dbb 72%, #28abfe);
  color: #fff;
  padding: 80px 10px;
  span,
  p {
    font-weight: 400;
    font-size: 24px;
    margin: 60px 0;
  }
  .about-clients {
    text-transform: uppercase;
  }
}

.about-h {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 90px;
}
//ABOUT END


//NEWS
.news {
  padding: 80px 10px;
}

.news-h {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 80px;
}

.news-slider-wrap {
  position: relative;
  padding-bottom: 40px;
}

.slider-item {
  img {
    width: 100%;
    // max-width: 300px;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.data-slider {
  font-weight: 700;
  font-size: 22px;
  display: block;
  margin: 15px 0;
}

.next,
.prev {
  position: absolute;
  bottom: -35px;
  font-size: 30px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.next {
  right: 0;
}

.prev {
  left: 0;
}
//Slider-dots
.news-slider .slick-dots {
  bottom: -95px;
}

.news .slick-dots li button:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  // top: 50% !important;
  transform: translate(-53%, 26%);
  background: blue;
  opacity: 1 !important;
  border-radius: 50%;
}

.news li.slick-active {
  border: 1px solid blue;
  // padding: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
//Slider-dots End
//NEWS END


//INTERESTING-ARTICLE
.interesting-article {
  background: #ebebeb;
  padding: 80px 10px 150px 10px;
  a {
    color: $text-color;
    font-weight: bold;
    filter: grayscale(100%);
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      filter: grayscale(0);
    }

    img {
      max-width: 100%;
    }

    span {
      font-size: 22px;
      border-bottom: 1px solid $text-color;
    }
  }
}

.article-h {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 80px;
}
//INTERESTING-ARTICLE END


//COMMENTS
.comments {
  padding: 80px 10px;
  color: #fff;
  background-image: linear-gradient(90deg, #184dbb, #28abfe);
}

.comments-h {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 80px;
}

.comments-slider {
  padding-bottom: 80px;
}

.comment-user {
  font-size: 24px;
  font-weight: bold;
}

.sub-info-user {
  font-size: 18px;
  margin-bottom: 30px;
}

.comments-item {
  p {
    font-size: 24px;
  }
}

.comments-item-img {
  background: url(../img/comments.png) center no-repeat;
  background-size: contain;
  display: inline-block;
  min-width: 160px;
  min-height: 160px;
  border-radius: 50%;
}

.comments-slider-wrap {
  position: relative;
}

.comments .slick-dots {
  bottom: -25px;
}

.comments .slick-dots li button:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  // top: 50% !important;
  transform: translate(-53%, 26%);
  background: #fff;
  opacity: 1 !important;
  border-radius: 50%;
}

.comments li.slick-active {
  border: 1px solid #fff;
  // padding: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.next-com,
.prev-com {
  position: absolute;
  bottom: -35px;
  font-size: 30px;
  // opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.next-com {
  right: 0;
}

.prev-com {
  left: 0;
}
//COMMENTS END


//PARTNERS
.partners {
  padding: 80px 10px;
}

.partners-h {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 700;
}

.partners-item {
  text-align: center;
  img {
    max-width: 70%;
    opacity: 0.6;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
//PARTNERS END

// MAIN END


// FOOTER
footer {
  background-color: #333333;
  color: #fff;
  padding: 80px 10px;
  a {
    color: #fff;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 18px;
    line-height: 20px;
  }
}

.footer-logo {
  background: url(../img/logo-foot.svg) center no-repeat;
  background-size: contain;
  max-width: 100px;
  min-height: 70px;
}

.copy {
  display: block;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.footer-nav-list {
  a {
    border-bottom: 1px solid #fff;
    font-size: 22px;
    display: inline-block;
    margin: 5px 0;
    &:hover {
      border-bottom: 1px solid rgba(0,0,0,0);
      text-decoration: none;
      color: #fff;
    }
  }
}

.contacts-foot {
  i {
    font-size: 25px;
    margin-right: 10px;
  }
  li {
    padding: 15px 0;
  }
  span {
    font-size: 22px;
  }
  a {
    font-size: 22px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  .footer-phone {
    i {
      transform: rotate(90deg);
    }
    a {
      font-size: 29px;
    }
  }
}
// FOOTER END

/*****PAGE CONTACTS******/

.top-contacts {
  padding: 90px 15px;
}

.contacts-h {
  font-size: 48px;
  margin-bottom: 50px;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 18px;
    display: flex;
    padding: 30px 0;
    a {
      color: #000;
      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
  .contacts-phone {
    font-size: 24px;
    background: bold;
  }
}

.top-contacts-img {
  img {
    max-width: 100%;
  }
}

.contacts-list-img {
  min-width: 25px;
  min-height: 25px;
  margin-right: 40px;
}

.contacts-location-img {
  background: url(../img/contacts/location.svg) center no-repeat;
  background-size: contain;
}
.contacts-phone-img {
  background: url(../img/contacts/phone-call.svg) center no-repeat;
  background-size: contain;
}
.contacts-message-img {
  background: url(../img/contacts/message.svg) center no-repeat;
  background-size: contain;
}

//MAP
.map-wrap {
  min-height: 400px;
  background: #eee;
}
//MAP END

//CALLBACK
.callback {
  padding: 80px 0;
  background: url(../img/background.png) no-repeat;
  background-position: 76% 80%;
  background-size: 60% auto;
}

.contacts-form {
  max-width: 100%;
  padding: 50px 50px 40px 50px;
  text-align: center;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px rgba(192,192,196,1);
  // min-width: 290px;
  div {
    padding-bottom: 40px;
  }
  input {
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    padding: 10px 20px;
    min-width: 100%;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .15);
    outline: none;
    background: rgba(0,0,0,0);
  }
  textarea {
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    padding: 10px 20px;
    min-width: 100%;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .15);
    margin-bottom: 40px;
    outline: none;
    background: rgba(0,0,0,0);
  }
  button {
    color: #ed4848;
    transition: 0.3s;
    border: none;
    background: rgba(0,0,0,0);
    border: 1px solid #ed4848;
    border-radius: 40px;
    cursor: pointer;
    padding: 5px 40px;
    &:hover {
      background: #ed4848;
      color: #fff;
    }
  }
}
//CALLBACK END
/*****PAGE CONTACTS END******/


/*****AMENITIES******/

.main-amenities {
  padding: 90px 15px;
  background: url(../img/background.png) no-repeat;
  background-position: left bottom;
  background-size: 900px;
}

.am-h {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 70px;
}

.am-more {
  color: #333333;
  // border-bottom: 1px solid #333333;
  text-decoration: underline;
  display: inline-block;
  margin-top: 30px;
  font-size: 18px;
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

.amenities-page-btn {
  min-width: 320px;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 60px;
  border: 1px solid $red;
  background: $red;
  color: #fff;
  transition: 0.3s;
  border-radius: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  &:hover {
    background: rgba(0,0,0,0);
    color: $text-color;
    text-decoration: none;
  }
}

.amenities-right {
  img {
    width: 100%;
  }
}

.amenities-select {
  .ik_select {
    width: 100%;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.amenities-list-sel {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  // padding: 5px 15px;
  width: 100%;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    min-width: 10px;
    min-height: 10px;
    background: url(../img/arrow.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
  }
  li {
    padding: 5px 15px;
    &:hover {
      background: #eee;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    // margin-left: -10px;
  }
}

/*****AMENITIES END******/



/*****POST******/
.main-post {
  padding: 80px 15px;
}

.post-main-img {
  padding: 0;
  img {
    max-width: 100%;
  }
}

.post-h {
  font-size: 48px;
  font-weight: bold;
  line-height: 44px;
  margin: 70px 0;
}

.post-item {
  padding: 0 20px;
}

.post-p {
  font-size: 23px;
  // padding: 0 15px;
  // line-height: 2;
  text-align: justify;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
  // text-justify: distribute;
  word-spacing: -2px;
}

.post-img {
  padding-top: 20px;
  display: inline-block;
  img {
    max-width: 100%;
  }
}
/*****POST END******/


/*****POPUP******/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.4);
  z-index: 300;
  display: none;
}

.popup-wrap {
  background: rgba(255, 255, 255, 0.63);
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.form-popup {
  background: #fff;
  border-radius: 3px;
  padding: 60px 50px 40px 50px;
  position: relative;
  input {
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    padding: 10px 20px;
    min-width: 100%;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .15);
    outline: none;
    background: rgba(0,0,0,0);
    font-size: 24px;
    margin-bottom: 30px;
  }
  textarea {
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    padding: 10px 20px;
    min-width: 100%;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .15);
    outline: none;
    background: rgba(0,0,0,0);
    font-size: 24px;
    margin-bottom: 30px;
  }
  button {
    border: 1px solid $red;
    border-radius: 40px;
    background: $red;
    color: #fff;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    padding: 5px 20px;
    &:hover {
      color: $text-color;
      background: rgba(0,0,0,0);
    }
  }
}

.popup-btn-wrap {
  text-align: center;
}

.close-popup {
  border: 1px solid #999;
  color: #999;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $text-color;
    border: 1px solid $text-color;
  }
}
/*****POPUP END******/

@import 'includes/slick';
@import 'includes/slick-theme';
@import 'includes/fonts';
@import 'includes/media';