@import "normalize"

$green: #08fdd8
$bg: #252627

body
	background: $bg
	margin: 0
	padding: 0
	overflow: hidden

*
	box-sizing: border-box

.nav_bar .active_panel
	color: $green

.pre_show
	animation: show_preload 2s

.pre_progress_an
	animation: progress_bar 1s forwards

.show_content
	animation: showContent 0.5s forwards

.hide_content
	animation: hideContent 0.3s forwards

.mobile-menu-an
	animation: menu 0.5s forwards


/*PRELOADER*/

#preloader
	text-align: center
	position: absolute
	width: 100%
	height: 100%
	z-index: 50 //delete
	background: $bg
	top: 100%

.pre_item
	text-align: center
	width: 40%
	position: absolute
	left: 50%
	top: 50%
	transform: translateX(-50%)translateY(-50%)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	span
		font-size: 30px
		padding-bottom: 40px

.pre_progress
	height: 5px
	width: 70%
	position: relative
	background: #181818
	overflow: hidden

.line_progress
	height: 5px
	position: absolute
	width: 100%
	right: 100%
	background: $green

.pre_logo
	width: 50%

/*PRELOADER END*/


/* HEADER */

.nav_bar
	background: #181818
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	min-width: 70px
	z-index: 100
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	a
		color: #444
	i:hover
		color: $green
		transition: 0.5s
	
.list_menu,
.social_links
	list-style: none
	padding: 0
	margin: 0
	display: flex

.logo
	width: 60px
	background: #000000
	padding: 0 10px
	text-decoration: none
	// p
	// 	margin: 0
	// 	font-size: 13px
	// 	color: white

.list_menu i
	margin: 0 20px
	font-size: 30px
	text-align: center

.social_links i
	margin: 0 10px
	font-size: 25px

//Mobile-menu
.open-menu
	display: none
	margin-right: 20px
	i
		font-size: 30px
		color: #444
		cursor: pointer
//Mobile-menu End

/*HEADER END */
/* MAIN */
main
	padding: 75px

.content
	font-family: "Effort", arial, serif
	font-weight: normal
/* MAIN  END*/

/*TABS*/
//Home
#home
	display: flex
	flex-direction: column
	justify-content: center
	img
		width: 500px
		position: absolute
		right: 10%
		top: 30%
		z-index: -1
	h2
		color: white
//Home End
//About
//About End


/*TABS End*/

/*Animate*/

@keyframes hideContent
	from
		transform: scale(1)
		opacity: 1
		// display: block
	to
		transform: scale(0.8)
		opacity: 0.3
		// display: none

@keyframes showContent
	from
		transform: scale(0.8)
		opacity: 0.3
	to
		transform: scale(1)
		opacity: 1

@keyframes show_preload
	0%
		top: 100%

	20%
		top: 0

	80%
		top: 0
	
	100%
		top: 100%

@keyframes progress_bar
	from
		right: 100%
	to
		right: 0

@keyframes menu
	from
		left: 100%
	to
		left: 0


/*Animate End*/

// @font-face
// font-family: Helvetica
// src: url("../fonts/HelveticaThin.ttf")
// font-style: normal
// font-weight: normal

// @font-face
// font-family: "Effort"
// src: url("../fonts/Effort.ttf")
// font-style: normal
// font-weight: normal

/*MEDIA*/
@media screen and (max-width: 700px)
	.social_links
		display: none

@media screen and (max-width: 500px)
	.list_menu
		position: fixed
		left: 100%
		width: 100%
		background: #181818
		padding: 20px 10px
		justify-content: center
		top: 59px

	.open-menu
		display: block
