@import "includes/normalize.scss";
@import "includes/vars.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $fonts;
  color: $text-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-max {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER */

.main-head {
  background-image: url(../img/head-bg.jpg);
}

.head-main-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-orient: vertical;
    min-height: 100vh;
    padding: 130px 0 150px 0;
  }
}

header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  position: relative;
  min-height: 650px;
  height: 100vh;
  padding: 0 10px;
}

.head-main {
  z-index: 100;
  position: relative;
}

.line-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.head-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: rgba(189, 79, 79, 0.1);
  z-index: 10;
}

.head-line-block {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 50px;
  width: 2.5px;
  background: rgba(255,255,255,0.25);
}

.line1 {
  left: 10px;
  .head-line-block {
    top: -50px;
    animation: 3s headBackground linear infinite;
  }
}
.line2 {
  left: 195px;
  .head-line-block {
    bottom: -50px;
    animation: 3s headBgUp 1s linear infinite;
  }
}
.line3 {
  left: 370px;
  .head-line-block {
    top: -50px;
    animation: 3s headBackground 2s linear infinite;
  }
}
.line4 {
  left: 599px;
  .head-line-block {
    bottom: -50px;
    animation: 3s headBgUp 3s linear infinite;
  }
}
.line5 {
  left: 800px;
  .head-line-block {
    top: -50px;
    animation: 3s headBackground 4s linear infinite;
  }
}
.line6 {
  left: 1010px;
  .head-line-block {
    bottom: -50px;
    animation: 3s headBgUp 5s linear infinite;
  }
}
.line7 {
  left: 1195px;
  .head-line-block {
    top: -50px;
    animation: 3s headBackground 6s linear infinite;
  }
}

.top-menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: 0.3s;
  z-index: 10;
}

.top-menu-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-top {
  background-image: url(../img/logo-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -55px;
  width: 83px;
  height: 69px;
}

.top-menu.top-menu-scroll {
  background: #fff;
  box-shadow: 0px 10px 24px -8px rgba(0,0,0,0.27);
  .logo-top {
    background-position: 0 6px;
  }
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
  .open-menu {
    border: 1px solid #000;
  }
  .menu-line {
    background: #000;
    &::before {
      background: #000;
    }
  }
}

.top-menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}

.top-menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    display: block;
    text-align: right;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.head-phone {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  &:hover {
    &::before {
      width: 87%;
    }
  }
  &::before {
    content: "";
    width: 66px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $purple;
    z-index: -1;
    transition: 0.3s;
  }
  span {
    font-weight: 700;
  }
}

.head-email {
  font-size: 14px;
}

.open-menu {
  max-width: 60px;
  margin-left: 20px;
  padding: 14px 15px;
  border: 1px solid rgba(255,255,255,0.25);
  cursor: pointer;
  position: relative;
  &:hover {
    .menu-line1 {
      margin-left: 25px;
    }
    .menu-line2 {
      width: 30px;
    }
    .menu-line3 {
      margin-left: -25px;
    }
  }
}

.open-menu-wrap {
  overflow: hidden;
}

.menu-line {
  background: #fff;
  height: 2px;
  position: relative;
  transition: 0.3s;
}

.menu-line1 {
  width: 30px;
  &::before {
    content: "";
    position: absolute;
    left: -120%;
    top: 0;
    width: 30px;
    height: 2px;
    background: #fff;
  }
}
.menu-line2 {
  width: 17.15px;
  margin: 8px 0;
  &::before {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    width: 4.79px;
    height: 2px;
    background: #fff;
  }
}
.menu-line3 {
  width: 30px;
  &::before {
    content: "";
    position: absolute;
    right: -120%;
    top: 0;
    width: 30px;
    height: 2px;
    background: #fff;
  }
}

.anim-head {
  animation: headH 1s 1s forwards;
  &::before {
    animation: afterText 1s 2s forwards;
  }
}

.anim-text {
  animation: text 1s forwards;
  &::before {
    animation: afterText 1s 1s forwards;
  }
}

.head-h-wrap {
  width: 0;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.head-h {
  font-size: 64px;
  color: #fff;
  line-height: 1.203125em;
  max-width: 1000px;
  max-height: 154px;
  span {
    font-weight: 700;
  }
}

.head-hr {
  background: #fff;
  width: 140px;
  height: 4px;
  margin: 30px 0 40px -40px;
}

.head-descr {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  width: 0;
  max-height: 50px;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.block-btn {
  display: block;
}

.head-btn-wrap {
  position: relative;
  margin-top: 40px;
  display: inline-block;
  &:hover {
    .left-triengle {
      top: -20px;
      left: -20px;
    }
    .right-triengle {
      bottom: -20px;
      right: -20px;
    }
  }
}

.head-btn {
  display: inline-block;
  text-align: center;
  padding: 30px 40px;
  color: #fff;
  font-size: 18px;
  min-width: 300px;
  min-height: 80px;
  background: $btn-gradient;
  box-shadow: 0px 4px 45px rgba(120, 38, 158, 0.75);
  cursor: pointer;
  &:hover {
    box-shadow: none;
    color: #fff;
  }
}

.left-triengle {
  position: absolute;
  top: -10px;
  left: -10px;
  transition: 0.3s;
}
.right-triengle {
  position: absolute;
  bottom: -10px;
  right: -10px;
  transition: 0.3s;
}

.scroll-down {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: absolute;
  transform: rotate(-90deg);
  left: 50%;
  bottom: 80px;
  margin-left: -200px;
  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 120%;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    content: "";
    background: url(../img/scroll-srrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 20px;
    position: absolute;
    right: 130%;
    top: 50%;
    transform: translateY(-50%)rotate(90deg);
  }
}

/* HEADER END */


/* MAIN */

//Ofer

.offer {
  padding: 80px 0;
}

.section-h {
  font-size: 64px;
  line-height: 1.328125em;
  position: relative;
  overflow: hidden;
  span {
    font-weight: 700;
  }
}

.two-h {
  max-height: 85px;
  max-width: 660px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.offer-descr {
  font-size: 16px;
  line-height: 25px;
  max-width: 60%;
  position: relative;
  overflow: hidden;
}

.two-descr {
  max-height: 75px;
  width: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
    z-index: 5;
  }
}

.offer-strikeout {
  position: relative;
  font-weight: 500;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    width: 101%;
    height: 5px;
    background: #DDE9FF;
    z-index: -1;
  }
}

.offer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.offer-item {
  font-family: $fonts;
  position: relative;
  width: 30%;
  max-width: 380px;
  height: 335px;
  margin: 50px 10px;
  color: $text-color;
  &:hover {
    color: $text-color;
    .offer-item-up {
      height: 105px;
    }
    .offer-item-down {
      height: 105px;
    }
  }
  img {
    width: 100%;
  }
}

.offer-img-wrap {
  overflow: hidden;
  height: 0;
}

.offer-descr-wrap {
  width: 0;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 13px 0;
  position: absolute;
  background: #fff;
}

.offer-name {
  display: block;
  font-size: 18px;
  line-height: 22px;
  width: 326px;
  padding: 0 15px;
  font-weight: 500;
}

.offer-up-wrap {
  bottom: 0;
}

.offer-down-wrap {
  top: -27px;
}

.offer-item-up {
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  padding: 0 38px;
}
.offer-item-down {
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  padding: 0 38px;
}

.square {
  width: 10px;
  height: 10px;
  border: 2px solid #F4B71A;
  margin: 10px auto;
}

//Ofer End

//Order

.order {
  background-image: url(../img/order-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 524px;
  text-align: center;
  position: relative;
  margin-bottom: 200px;
}

.order-form {
  position: absolute;
  width: 790px;
  height: 270px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: inline-block;
  padding: 45px 70px;
  background: #fff;
  overflow: hidden;
  border: 5px solid $gray;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 790px;
    left: -5px;
    bottom: -5px;
    background: linear-gradient(23.9deg, #5529CF -0.96%, #9745FF 100.72%);
  }
  ::-webkit-input-placeholder {color: #A2A8B4;};/* webkit */
  ::-moz-placeholder          {color: #A2A8B4;};/* Firefox 19+ */
  :-moz-placeholder           {color: #A2A8B4;};/* Firefox 18- */
  :-ms-input-placeholder      {color: #A2A8B4;};/* IE */
}

.order-h {
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
}

.order-sub-h {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
}

.order-form-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 25px;
  input {
    background: rgba(0,0,0,0);
    font-size: 16px;
    max-width: 180px;
    border: none;
    padding: 13px 15px;
    margin-right: 20px;
    border-bottom: 1px solid $purple-color;
  }
}

.order-btn {
  color: #fff;
  font-size: 18px;
  border: none;
  width: 250px;
  padding: 25px 40px;
  background: $purple;
  box-shadow: 0px 12px 25px rgba(104, 63, 222, 0.25);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: none;
  }
}

//Order End

//Emotions

.emotions {
  padding-top: 60px;
  position: relative;
}

.bg-block {
  width: 428px;
  // height: 1081px;
  height: 0;
  background: $gray;
  position: absolute;
  top: -220px;
  left: 50%;
  margin-left: 246px;
  z-index: -1;
}

.bg-block-anim {
  animation: 10s bgBlock forwards;
}

.emotions-content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotions-left {
  padding-right: 30px;
}

.emotions-h {
  font-size: 64px;
  line-height: 1.2em;
  margin-bottom: 30px;
  max-width: 470px;
  max-height: 231px;
  width: 0;
  overflow: hidden;
  position: relative;
  span {
    font-weight: 700;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.emotions-descr {
  padding-left: 30px;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid $orange;
    position: absolute;
    left: 0;
    top: 5px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 25px;
    height: 140%;
    width: 2px;
    background: $gray;
  }
}

.strikeout {
  font-weight: 500;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 105%;
    height: 5px;
    background: #DDE9FF;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    width: 99%;
    height: 5px;
    background: #DDE9FF;
    z-index: -1;
  }
}

.emotions-right {
  position: relative;
  iframe {
    min-width: 700px;
    min-height: 500px;
  }
}

.emotions-btn-wrap {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 17px;
}

.emotions-btn {
  display: inline-block;
  text-align: center;
  width: 250px;
  padding: 26px 40px;
  font-size: 18px;
  background: $purple;
  color: #fff;
  box-shadow: 0px 12px 45px rgba(120, 38, 158, 0.5);
  &:hover {
    color: #fff;
    box-shadow: none;
  }
}

.emotions-play {
  width: 80px;
  height: 80px;
  border: 3px solid $purple-color;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: $purple-color;
    .play-triangle {
      border-left: 13px solid #fff;
    }
  }
}

.play-triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 13px solid $purple-color;
  border-bottom: 10px solid transparent;
  transition: 0.3s;
}

.em-arrow-right,
.em-arrow-left {
  position: absolute;
}

.em-arrow-right {
  top: -10px;
  right: -10px;
}
.em-arrow-left {
  bottom: -10px;
  left: -10px;
}

.em-about {
  position: absolute;
  top: 30px;
  right: -10px;
  transform: translateX(100%);
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 120px;
    top: 110%;
    left: 17px;
    background: #fff;
  }
}

//Emotions End

//Steps

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 130px;
}

.step-left-block {
  max-width: 810px;
  height: 546px;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 2;
}

.step-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.step-arrow-wrap {
  display: flex;
  align-items: cetner;
  padding-right: 15%;
  z-index: 10;
}

.arrow {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 5px;
  background: $purple-arrow;
  box-shadow: 0px 12px 45px rgba(120, 38, 158, 0.5);
  cursor: pointer;
  &.slick-disabled {
    opacity: 0.3;
  }
}

.prev-triengle {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%,-50%);
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-40deg);
    top: -5px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(40deg);
    bottom: -6px;
  }
}

.next-triengle {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(40deg);
    top: -5px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-40deg);
    bottom: -6px;
  }
}

.step-descr {
  position: relative;
  font-size: 24px;
  margin-left: 17%;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 373px;
    height: 4px;
    background: $gray;
    z-index: -1;
  }
}

.step-slider {
  width: 100%;
  img {
    width: 100%;
  }
}

.step-right-block {
  border: 10px solid $gray;
  padding: 20px 20px 20px 150px;
  margin-left: -100px;
  background: #fff;
  margin-top: 56px;
  opacity: 0;
  animation-fill-mode: forwards;
}

.right-block-h {
  font-size: 72px;
  font-weight: 700;
  margin-left: -22px;
  margin-top: -62px;
  line-height: 76px;
}

.steps-list {
  list-style: none;
  span {
    display: inline-block;
  }
}

.step-name {
  position: relative;
  margin-left: 15px;
  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: $orange;
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
  }
}

.active-step.step {
  &::after {
    content: "";
    position: absolute;
    background: $purple;
    width: 3px;
    height: 100%;
    top: 0;
    left: -50px;
  }
  &::before {
    color: $orange;
  }
  .step-name {
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background: $orange;
      bottom: 5px;
      right: 0;
      z-index: -1;
    }
  }
}

.step::before .active-step {
  color: $orange;
}

.step {
  position: relative;
  font-size: 16px;
  padding: 10px 0;
  line-height: 19px;
  &::before {
    color: $gray;
    font-size: 18px;
    position: absolute;
    left: -35px;
  }
}

.step1::before {
  content: "01.";
}
.step2::before {
  content: "02.";
}
.step3::before {
  content: "03.";
}
.step4::before {
  content: "04.";
}
.step5::before {
  content: "05.";
}
.step6::before {
  content: "06.";
}
.step7::before {
  content: "07.";
}
.step8::before {
  content: "08.";
}
.step9::before {
  content: "09.";
}
.step10::before {
  content: "10.";
}
.step11::before {
  content: "11.";
}
.step12::before {
  content: "12.";
}

//Steps End

//About

.about {
  padding: 100px 15px;
  overflow: hidden;
  position: relative;
}

.about-container {
  max-width: 1600px;
  margin: 0 auto;
}

.about-wrap {
  display: flex;
}

.about-left {
  padding-left: 70px;
}

.about-h {
  width: 0;
  max-width: 540px;
  max-height: 85px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.about-left-bottom {
  margin-top: 30px;
  width: 980px;
  min-height: 389px;
  padding: 55px 100px;
  background: $gray;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 780px;
    width: 0;
    width: 0;
    height: 5px;
    background: $purple;
    z-index: 10;
  }
}

.about-before {
  &::before {
    animation: 10s aboutBefore forwards;
  }
}

.about-content {
  transition: 1s;
  display: none;
}

.content-active {
  display: block;
}

.about-name {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  max-height: 29px;
  overflow: hidden;
  position: relative;
}

.about-descr {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  max-width: 560px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.about-star-wrap {
  position: absolute;
  bottom: 25px;
  right: 200px;
}

.about-slider-wrap {
  min-width: 900px;
  height: 404px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: -300px;
  animation-fill-mode: forwards;
  .swiper-wrapper {
    align-items: flex-end;
  }
  .swiper-slide-active,
  .swiper-slide-next {
    height: 404px;
  }
  .about-h {
    text-align: center;
    max-width: 100%;
    display: none;
  }
}

.swiper-slide {
  min-width: 188.96px;
  height: 260px;
  transition: 0.3s;
  img {
    max-width: 290px;
    height: 100%;
  }
}

.about-arrows {
  position: absolute;
  bottom: 50px;
  left: 50%;
  padding-bottom: 50px;
  margin-left: 375px;
  display: flex;
  justify-content: center;
  .arrow {
    margin: 0 15px;
    cursor: pointer;
  }
}

.now-slides-about {
  position: absolute;
  right: 50px;
  bottom: 0;
  span {
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
    letter-spacing: -5px;
  }

  .all-slides-about {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
  }
}

//About End

//Differences

.container-dif {
  max-width: 1400px;
  margin: 0 auto;
}

.differences {
  padding: 50px 15px;
}

.dif-h {
  font-size: 48px;
  line-height: 1.1em;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  span {
    font-weight: 700;
  }
  &::after {
    content: "";
    position: absolute;
    left: 270px;
    bottom: -38px;
    width: 834px;
    height: 127px;
    background-image: url(../img/dif-h.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.dif-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dif-item {
  width: 395px;
  min-width: 347px;
  margin: 10px;
  position: relative;
  padding: 25px 10px;
  overflow: hidden;
  transition: 0.3s;
  border: 4px solid rgba(0,0,0,0);
  &:hover {
    border: 4px solid $gray;
    &::before {
      opacity: 1;
    }
    .dif-name::before {
      height: 27px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -4px;
    background: $before-gradient;
    width: 395px;
    height: 4px;
    opacity: 0;
    transition: 0.3s;
  }
}

.dif-item-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
  img {
    margin-right: 70px;
    max-width: 55px;
  }
}

.dif-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  &::before {
    content: "";
    width: 136px;
    height: 4px;
    background: $gray;
    position: absolute;
    bottom: 5px;
    left: -95px;
    z-index: -1;
    transition: 0.5s;
  }
}

.dif-descr {
  font-size: 16px;
  line-height: 25px;
  color: #A2A8B4;
  position: relative;
  margin: 0;
  width: 0;
  max-height: 75px;
  overflow: hidden;
  span {
    font-weight: 500;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

//Differences End

//Numbers

.numbers {
  position: relative;
  padding: 50px 15px;
}

.num-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.num-left {
  width: 850px;
  padding: 20px 60px;
  z-index: 1;
  background: $gray;
  text-align: right;
  margin-left: -200px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 143px;
    top: 50%;
    transform: translateY(-55%);
    width: 634px;
    height: 200px;
    background-image: url(../img/numbers.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.num-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  border: 10px solid $gray;
  padding: 79px 86px 53px 290px;
  margin-left: -257px;
}

.num-item {
  position: relative;
  max-width: 50%;
  margin-bottom: 26px;
}

.anim-num1 {
  &::before {
    animation: 4s num1 forwards;
  }
}
.anim-num2 {
  &::before {
    animation: 4s num2 forwards;
  }
}
.anim-num3 {
  &::before {
    animation: 4s num3 forwards;
  }
}
.anim-num4 {
  &::before {
    animation: 4s num4 forwards;
  }
}
.anim-num5 {
  &::before {
    animation: 4s num5 forwards;
  }
}
.anim-num6 {
  &::before {
    animation: 4s num6 forwards;
  }
}

.progress-bar::before {
  width: 0;
}

.num1 {
  margin-left: 20px;
}
.num2 {
  margin-left: -20px;
  .num-counter {
    min-width: 129px;
  }
}
.num3 {
  margin-left: 30px;
}
.num4 {
  margin-right: 40px;
}
.num6 {
  margin-right: 55px;
}

.num-item-wrap {
  display: inline-block;
  position: relative;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $gray;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: $orange;
    width: 30%;
    height: 2px;
  }
}

.num-item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    background: $orange;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
  }
}

.num-counter {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  padding-left: 10px;
  text-align: right;
  color: $purple-color;
  position: relative;
  span {
    font-size: 36px;
  }
}

.num-descr {
  font-size: 16px;
  line-height: 25px;
  margin-left: 10px;
}

//Numbers End

//Work

.work {
  overflow: hidden;
  padding: 50px 0;
  .slick-list {
    overflow: visible;
    padding:0 20% 0 0;
  }
}

.work-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0 60px 0;
}

.work-slider-nav {
  display: flex;
  justify-content: space-between;
}

.work-arrow-wrap {
  margin-right: 141px;
  position: relative;
  &::before {
    content: "";
    width: 90px;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 115%;
    background: $orange;
  }
}

.now-slide-wrap {
  position: relative;
  span {
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
    letter-spacing: -5px;
  }

  .all-slides {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
  }
}

.work-slide {
  width: 443px !important;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  &:hover {
    color: #fff;
    &::after {
      left: 0;
    }
    .work-num {
      color: #fff;
    }
    .w-img1 {
      background-position: -9px -121px;
    }
    .w-img2 {
      width: 77px;
      background-position: -129px -121px;
    }
    .w-img3 {
      background-position: -228px -121px;
    }
    .w-img4 {
      background-position: -348px -119px;
    }
    .w-img5 {
      background-position: -469px -121px;
    }
    .w-img6 {
      background-position: -584px -121px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -105%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: $purple;
    transition: 0.3s;
  }
}

.w-slide-content {
  padding: 78px 50px;
  height: 320px;
  border: 5px solid $gray;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -5px;
    height: 5px;
    width: 102%;
    background: $purple;
  }
}

.w-main-img {
  background-image: url(../img/work-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100px;
  height: 96px;
  transition: 0.3s;
}

.w-img1 {
  background-position: -9px -9px;
}
.w-img2 {
  width: 77px;
  background-position: -129px -7px;
}
.w-img3 {
  background-position: -228px -7px;
}
.w-img4 {
  background-position: -348px -9px;
}
.w-img5 {
  background-position: -469px -9px;
}
.w-img6 {
  background-position: -584px -9px;
}

.work-slide-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.work-num {
  font-weight: 500;
  font-size: 36px;
  line-height: 25px;
  color: $work-purple;
  transition: 0.3s;
}

.w-arrow {
  max-width: 73px;
}

.w-slide-descr {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.work-arrow-wrap {
  display: flex;
}

//Work End

//Order Two

.order-two {
  background-image: url(../img/order-two-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 524px;
  text-align: center;
  position: relative;
  margin: 100px 0;
}

//Order Two End

//Team

.team {
  position: relative;
  padding-top: 150px;
  .slick-list {
    overflow: visible;
  }
}

.team-h {
  font-size: 64px;
  line-height: 1.3em;
  margin-bottom: 45px;
  position: relative;
  max-height: 170px;
  max-width: 790px;
  width: 0;
  overflow: hidden;
  span {
    font-weight: 700;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $gray;
  }
}

.team-item {
  position: relative;
  height: 405px;
  max-width: 280px;
  img {
    width: 100%;
  }
}

.team-img-wrap {
  height: 0;
}

.team-descr-anim {
  animation: teamDescr 2s 1.5s forwards;
}

.team-descr-wrap {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 240px;
  background: #fff;
  padding: 17px 34px;
  opacity: 0;
  border: 2px solid $gray;
  &::before {
    content: "";
    height: 5px;
    width: 100%;
    background: $orange;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.team-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.team-descr {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-top: 7px;
}

.team-bg-block {
  width: 444px;
  height: 0;
  background: $gray;
  position: absolute;
  top: -120px;
  left: 50%;
  margin-left: 230px;
  z-index: -1;
}

.team-text {
  position: absolute;
  top: 320px;
  left: -35px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 140px;
  line-height: 80px;
  color: #fff;
}

//Team End

//Impressions

.impressions {
  position: relative;
  opacity: 0;
  padding-top: 100px;
  img {
    width: 100%;
  }
}

//Impressions End

//Forms

.form-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden; 
  display: none;
}

.form-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 300px 0;
}

.request-wrap {
  display: none;
}

.request {
  background: #fff;
  max-width: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: $purple;
  }
}

.close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  &::after {
    content: "";
    height: 2px;
    width: 20px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  &::before {
    content: "";
    height: 2px;
    width: 20px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  &:hover {
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}

.request-top {
  background: $purple;
  color: #fff;
  padding: 30px 60px;
}

.request-h {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  span {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
}

.request-main {
  border-right: 5px solid #EDF3FF;
  border-left: 5px solid #EDF3FF;
  border-bottom: 5px solid #EDF3FF;
  padding: 30px 100px 70px 100px;
  text-align: center;
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $purple-color;
    padding: 15px;
  }
  input[type="phone"] {
    margin-top: 30px;
  }
}

.request-btn-wrap {
  margin-top: 40px;
}

.request-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 230px;
  text-align: center;
  background: $purple;
  color: #fff;
  border: none;
  padding: 24px 15px;
  cursor: pointer;
}

//Popups

.popup-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}

//Popups End

//Thank you

.thank {
  display: none;
}

.thank-you {
  background: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  padding: 65px 108px;
}

//Thank you end

//LED Popup

.led-popup-wrap {
  margin: 50px 0;
}

.led-form-popup {
  min-width: 1170px;
  .select2 {
    min-width: 100%;
    max-width: 280px;
  }
}

.form-h {
  font-weight: bold;
  font-size: 36px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}

.led-popup-top {
  padding: 25px;
  text-align: center;
  background: linear-gradient(78.2deg, #5529CF -0.96%, #9745FF 100.72%);
  span {
    font-size: 24px;
    line-height: 1.2em;
    color: #fff;
  }
}

.led-popup-main {
  background: #fff;
  padding: 70px 125px;
  overflow: hidden;
}

.led-form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .led-form-cheks {
    padding-right: 59px;
  }
}

.led-form-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.led-popup-bottom {
  position: relative;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 200%;
    height: 5px;
    background: $gray;
  }
}

.popup-inp-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 30%;
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $purple-color;
    padding: 15px;
  }
}

.inp-date {
  position: relative;
}

.led-popup-btn {
  border: none;
  background: $purple;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  min-width: 280px;
  line-height: 22px;
  padding: 18px 15px;
  cursor: pointer;
}

.sound-popup-middle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sound-checks-left {
  margin-right: 20px;
}

//Sound Popup End

//Policy Popup

.policy-popup {
  padding: 500px 0;
  h2 {
    margin-top: 0;
  }
  .thank-you {
    padding: 50px 100px;
  }
  .container {
    margin: 300px 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: left;
  }
}

//Policy Popup End

//Forms End

//Main menu

.main-menu {
  background: #fff;
  position: fixed;
  width: 0;
  height: 10px;
  top: 0;
  right: 0;
  z-index: 500;
  overflow: auto;
}

.main-m-top {
  position: relative;
  padding-top: 50px;
}

.main-menu-logo {
  background-image: url(../img/logo-sprite.png);
  background-position: 0 6px;
  background-repeat: no-repeat;
  width: 83px;
  height: 69px;
}

.close-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 60px;
  margin-left: 580px;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
  &::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    background: #000;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    background: #000;
    width: 25px;
    height: 3px;
    transform: rotate(-45deg);
  }
  &:hover {
    transform: rotate(180deg);
  }
}

.m-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-orient: vertical;
  height: 100%;
  padding-top: 90px;
}

.m-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.m-left-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 36px;
  font-weight: 700;
  li {
    margin-top: 15px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    color: #000;
    transition: 0.4s;
    &:hover {
      color: $purple-color;
    }
  }
}

.m-services {
  color: #000;
}

.m-services-h {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-top: 15px;
    opacity: 0.6;
    transition: 0.3s;
    font-size: 20px;
    &:hover {
      opacity: 1;
    }
  }
  a {
    color: #000;
  }
}

.m-contacts {
  color: #000;
  p {
    font-size: 20px;
    opacity: 0.6;
    margin: 20px 0;
  }
}

.m-contacts-h {
  font-size: 20px;
  font-weight: 700;
}

.m-phones-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 20px;
  li {
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    color: #000;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.m-contacts-mail {
  a {
    color: #000;
    font-size: 20px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.m-contacts-links {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;
  margin-top: 60px;
  a {
    max-width: 30px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    min-width: 30px;
  }
}

//Main menu End

/* MAIN END */


/**** PAGES ****/

@import "./led.scss";
@import "./decor.scss";
@import "./dj.scss";
@import "./sound.scss";
@import "./photo.scss";
@import "./table.scss";
@import "./media.scss";

/**** PAGES END ****/

/* FOOTER */

.foot-main {
  margin-top: 100px;
  overflow: hidden;
}

.foot-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.foot-h {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    z-index: -1;
    width: 400px;
    height: 10px;
    background: linear-gradient(60.26deg, #5529CF -0.96%, #9745FF 100.72%);
  }
}

.foot-left {
  border: 10px solid $gray;
  min-width: 800px;
  padding: 60px 111px 60px 130px;
  background: #fff;
  .foot-right-bottom {
   display: none;
   justify-content: space-between;
   padding: 15px 0;
  }
  .foot-create {
    padding: 0;
    margin: 0;
  }
  .policy {
    margin: 0;
  }
}

.foot-list {
  list-style: none;
  color: $text-color;
  padding: 0;
  margin: 0;
  img {
    width: 20px;
    margin-right: 15px;
  }
  li {
    display: flex;
    align-items: center;
  }
  a {
    display: block;
    color: $text-color;
    padding: 10px 0;
  }
  span {
    display: inline-block;
    padding: 10px 0;
  }
}

.social-a-wrap {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.foot-social-links {
  display: flex;
  justify-content: flex-start;
  padding: 40px 0;
  a {
    position: relative;
    overflow: hidden;
    &:hover {
      &::before {
        top: 0;
      }
      .twit-img {
        background-position: 0 -105px;
        z-index: 2;
      }
      .inst-img {
        background-position: -80px -102px;
        z-index: 2;
      }
      .face-img {
        background-position: -168px -102px;
        z-index: 2;
      }
      .google-img {
        background-position: -237px -106px;
        z-index: 2;
      }
      .tube-img {
        background-position: -322px -102px;
        z-index: 2;
      }
      .in-img {
        background-position: -399px -101px;
        z-index: 2;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      z-index: 1;
      background: linear-gradient(89.18deg, #5529CF -0.96%, #9745FF 100.72%);
      box-shadow: 0px 0px 30px rgba(49, 61, 142, 0.12);
      transition: 0.2s;
    }
  }
}

.social-link-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray;
  width: 70px;
  height: 70px;
}

.social-img {
  transition: 0.2s;
}

.twit-img {
  background-image: url(../img/sprite-links.png);
  background-position: 0 -5px;
  width: 30.18px;
  height: 24.55px;
}
.inst-img {
  background-image: url(../img/sprite-links.png);
  background-position: -80px -2px;
  width: 32px;
  height: 32px;
}
.face-img {
  background-image: url(../img/sprite-links.png);
  background-position: -168px -2px;
  width: 16.78px;
  height: 30.85px;
}
.tube-img {
  background-image: url(../img/sprite-links.png);
  background-position: -322px -2px;
  width: 28px;
  height: 33.6px;
}
.in-img {
  background-image: url(../img/sprite-links.png);
  background-position: -399px -1px;
  width: 33.6px;
  height: 33.6px;
}

.foot-copy {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.foot-right {
  margin-left: -80px;
}

#map {
  width: 900px;
  iframe {
    width: 100%;
    height: 570px;
  }
}

.foot-right-bottom {
  display: flex;
  justify-content: flex-start;
}

.policy {
  color: $text-color;
  margin: 15px 0;
}

.foot-create {
  padding-left: 100px;
  margin-right: 88px;
}
/* FOOTER END */

@keyframes headH {
  from {
    width: 0;
  }
  to {
    width: 788px;
  }
}

@keyframes text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes afterText {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes headPhone {
  from {
    width: 0;
  }
  to {
    width: 66px;
  }
}

@keyframes headBackground {
  from {
    top: -50px;
  }
  to {
    top: 110%;
  }
}

@keyframes headBgUp {
  from {
    bottom: -50px;
  }
  to {
    bottom: 110%;
  }
}

@keyframes bgBlock {
  from {
    height: 0;
  }
  to {
    height: 1081px;
  }
}

@keyframes aboutBefore {
  from {
    width: 0;
  }
  to {
    width: 265px;
  }
}

//Nums
@keyframes num1 {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@keyframes num2 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes num3 {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes num4 {
  from {
    width: 0;
  }
  to {
    width: 75px;
  }
}
@keyframes num5 {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
@keyframes num6 {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

@keyframes teamDescr {
  from {
    bottom: -80px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}