/* HEADER */

.sound-head {
  background-image: url(../img/sound/head-bg.jpg);
}

/* HEADER END */

/* MAIN */

.sound-outcome {
  .out-item {
    padding: 30px 20px;
  }
  .section-h {
    padding-left: 15px;
  }
}

/* MAIN END */

/* FOOTER */

.foot-sound {
  min-height: 441.93px;
  background-image: url(../img/dj/foot-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 380px;
  .led-form-h {
    margin-bottom: 20px;
  }
  select {
    margin-right: 50px;
  }
  .led-form-h {
    font-size: 36px;
  }
}

/* FOOTER END */