//Масштабируемость текста (меньше разрешение, меньше значение font-size);
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

//Высота-ширина
@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

//Цвет placeholder
@mixin placeholder ($color) {
  ::-webkit-input-placeholder {@content};/* webkit */
  ::-moz-placeholder          {@content};/* Firefox 19+ */
  :-moz-placeholder           {@content};/* Firefox 18- */
  :-ms-input-placeholder      {@content};/* IE */
  :-input-placeholder      {@content};/* IE */
}

//Работа с псевдоэлементами
@mixin pseudo($dis: block, $pos: absolute, $cont: '', $width: 20px, $height: 20px) {
  content: $cont;
  display: $dis;
  position: $pos;
  width: $width;
  height: $height;
}

//Свойства шрифтов
@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}