$light-gray: #b2b8c4;
$blue: #2a90f9;
$gray: #ebebeb;
$foot-color: #f9f9f9;
$text-color: #333;
$work-purple: #5C3AD8;
$inp-purple: #5E2DD6;

$fonts: "HelveticaNeueCyr", "Open Sans", arial, serif;