@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic");
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*******HEDER***** */
header {
  background: url(../img/background-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  opacity: 0;
  -webkit-animation: menu 2s linear 1s;
          animation: menu 2s linear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header ul a {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-family: "Futura PT", "Open Sans", arial;
  font-size: 20px;
}
header h1 {
  font-family: "Futura PT", "Open Sans", arial;
  font-size: 60px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
}
header #anim_head {
  -webkit-animation: nev 1.5s linear 1s;
          animation: nev 1.5s linear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*******HEDER END***** */
/*******MAIN***** */
/**Rst-Example* */
.rst-example {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rst-example .exam {
  padding: 30px;
  width: 50%;
  text-align: center;
}
.rst-example .typesetting {
  background: #000;
  overflow: hidden;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rst-example .typesetting p {
  margin: 20px;
}
.rst-example .typesetting img {
  max-width: 80%;
}
.rst-example .code-links {
  color: white;
  font-size: 30px;
}
.rst-example .code-links i {
  margin: 15px;
}
.rst-example .design {
  background: #eee;
}
.rst-example .design img {
  max-width: 150px;
}

/**Rst-Exemple End* */
/*******MAIN END***** */
/*******FOOTER***** */
/*******FOOTER END***** */
/**********Animation********** */
@-webkit-keyframes typesetting {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes typesetting {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes nev {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes nev {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**********Animation END********** */
/*********FONTS******* */
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/Futura PT.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */