$fonts: 'Futura PT', 'Open Sans', arial

body 
	margin: 0
	padding: 0

*
	box-sizing: border-box
	margin: 0
	padding: 0

.container
	max-width: 1200px
	margin: 0 auto

/*******HEDER******/ 

header
	background: url(../img/background-2.jpg)
	background-size: cover 
	background-position: center center
	background-repeat: no-repeat 
	min-height: 500px
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	.menu
		position: fixed
		left: 0
		top: 0
		right: 0
		background: rgba(0, 0, 0, 0.4) 
		padding: 20px
		opacity: 0
		animation: menu 2s linear 1s
		animation-fill-mode: forwards
	ul
		list-style: none
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
		a
			text-decoration: none
			color: white 
			padding: 15px
			font-family: $fonts
			font-size: 20px 
	h1
		font-family: $fonts
		font-size: 60px
		color: white
		font-weight: 700
		text-transform: uppercase 
		opacity: 0
		
	#anim_head
		animation: nev 1.5s linear 1s
		animation-fill-mode: forwards

/*******HEDER END******/ 

/*******MAIN******/ 
/**Rst-Example**/

.rst-example
	text-align: center
	display: flex
	flex-wrap: wrap
	.exam
		padding: 30px
		width: 50%
		text-align: center
	.typesetting
		background: #000 
		overflow: hidden
		color: white
		display: flex
		flex-direction: column
		justify-content: center
		p
			margin: 20px
		img
			max-width: 80%
	.code-links
		color: white
		font-size: 30px
		i
			margin: 15px
	.design
		background: #eee
		img
			max-width: 150px

/**Rst-Exemple End**/


/*******MAIN END******/ 


/*******FOOTER******/ 


/*******FOOTER END******/

/**********Animation***********/ 
@keyframes typesetting
	from
		left: 100%
	to
		left: 0

@keyframes nev
	from
		opacity: 0
		margin-top: -100px
	to
		opacity: 1
		margin-top: 0
		

@keyframes menu
	from
		opacity: 0
	to
		opacity: 1

/**********Animation END***********/

/*********FONTS********/
@import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic')