$fonts: 'Roboto', 'Open Sans', Arial, sans-serif;

//Colors
$bg-purple:            rgba(28, 1, 39, 0.692);
$dark-purple:          #0b042e;
$light-purple:         #48339e;
$pink:                 #ba1299;
$light-blue:           #a6b9fe;
$amenities-purple:     #0b062a;
$cases-purple:         #1e0b1d;
$cases-top-bg:         #e9dcf2;
$form-purple:          #512e9f;
$bg-amenities:         #1a0616;
$bg-amen-h:            #eadbf3;